@model Website_GSshop.Models.Seller

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.seller_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_slider1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_slider1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_slider2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_slider2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_slider3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_slider3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_link1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_link1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_link2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_link2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_link3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_link3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_fristname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_fristname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_nameshop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_nameshop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_datelogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_datelogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.seller_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
