@using Website_GSshop.Models
@model List<Collection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SellerManagement/Views/Shared/_LayoutSeller.cshtml";
    Seller sesse = (Seller)Session["seller"];
    var col_edit = "coledit";
    var col_detail = "coldetail";
    var col_delete = "coldelete";
}
@Html.Action("CSS_Sematic", "SellerManagement")
<a href="/SellerManagement/SellerManagement/Index">
    <?xml version="1.0" ?>
    <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 512 512" width="45" height="45"><path d="M305.99,274.13l-7.59,5.09,7.59,5.09a13.631,13.631,0,0,1,0,22.6L298.4,312l7.59,5.09a13.622,13.622,0,0,1,0,22.59l-7.59,5.09,7.59,5.09a13.631,13.631,0,0,1,0,22.6l-7.59,5.09,7.59,5.09a13.622,13.622,0,0,1,0,22.59l-7.59,5.09-5.07,7.63a13.463,13.463,0,0,1-22.47,0l-5.06-7.63-5.07,7.63a13.463,13.463,0,0,1-22.47,0l-5.06-7.63-5.06,7.63a13.472,13.472,0,0,1-22.48,0l-5.06-7.63-5.06,7.63a13.472,13.472,0,0,1-22.48,0L168,410.32l-5.06,7.63a13.9,13.9,0,0,1-2.94,3.2,13.455,13.455,0,0,1-19.54-3.2l-5.06-7.63-5.06,7.63a14.3,14.3,0,0,1-2.34,2.7,13.466,13.466,0,0,1-20.14-2.7l-5.06-7.63-5.06,7.63a13.463,13.463,0,0,1-22.47,0l-5.07-7.63-5.06,7.63a13.463,13.463,0,0,1-22.47,0l-5.07-7.63-7.59-5.09a13.622,13.622,0,0,1,0-22.59l7.59-5.09-7.59-5.09a13.631,13.631,0,0,1,0-22.6l7.59-5.09-7.59-5.09a13.622,13.622,0,0,1,0-22.59L37.6,312l-7.59-5.09a13.511,13.511,0,0,1-3.1-2.86,13.706,13.706,0,0,1-.62-16.02,13.3,13.3,0,0,1,3.72-3.72l7.59-5.09-7.59-5.09a13.539,13.539,0,0,1-2.42-2.07,13.686,13.686,0,0,1-1.77-16.05,13.383,13.383,0,0,1,4.19-4.47l7.59-5.09-7.59-5.09a13.631,13.631,0,0,1,0-22.6l7.59-5.09,5.07-7.63a13.463,13.463,0,0,1,22.47,0l5.06,7.63,5.07-7.63a13.463,13.463,0,0,1,22.47,0l5.06,7.63,5.06-7.63a13.472,13.472,0,0,1,22.48,0l5.06,7.63,5.06-7.63a13.472,13.472,0,0,1,22.48,0l5.06,7.63,5.06-7.63a13.472,13.472,0,0,1,22.48,0l5.06,7.63,5.06-7.63a13.472,13.472,0,0,1,22.48,0l5.06,7.63,5.06-7.63a13.463,13.463,0,0,1,22.47,0l5.07,7.63,5.06-7.63a13.463,13.463,0,0,1,22.47,0l5.07,7.63,7.59,5.09a13.631,13.631,0,0,1,0,22.6l-7.59,5.09,7.59,5.09A13.622,13.622,0,0,1,305.99,274.13Z" style="fill:#d8c8b9" /><rect x="104" y="215.997" width="128" height="192" transform="translate(-143.997 479.997) rotate(-90)" style="fill:#ce3536" /><path d="M393.95,113.737l-7.63,5.06,7.63,5.06a13.462,13.462,0,0,1,0,22.48l-7.63,5.06,7.63,5.06a13.47,13.47,0,0,1,0,22.481L386.32,184l7.63,5.06a13.463,13.463,0,0,1,0,22.48l-7.63,5.06,7.63,5.06a13.464,13.464,0,0,1,0,22.481l-7.63,5.06,7.63,5.06a13.453,13.453,0,0,1,0,22.469l-7.63,5.07,7.63,5.06a13.454,13.454,0,0,1,0,22.47l-7.63,5.07-5.09,7.59a13.622,13.622,0,0,1-22.59,0l-5.09-7.59-5.09,7.59a13.622,13.622,0,0,1-22.59,0l-5.1-7.59-5.09,7.59a13.622,13.622,0,0,1-22.59,0L288,314.4l-5.09,7.59a13.622,13.622,0,0,1-22.59,0l-5.09-7.59-5.1,7.59a13.622,13.622,0,0,1-22.59,0l-5.09-7.59-5.09,7.59a13.622,13.622,0,0,1-22.59,0l-5.09-7.59-7.63-5.07a13.454,13.454,0,0,1,0-22.47l7.63-5.06-7.63-5.07a13.453,13.453,0,0,1,0-22.469l7.63-5.06-7.63-5.06a13.464,13.464,0,0,1,0-22.481l7.63-5.06-7.63-5.06a13.463,13.463,0,0,1,0-22.48l7.63-5.06-7.63-5.059a13.464,13.464,0,0,1,0-22.481l7.63-5.06-7.63-5.06a13.463,13.463,0,0,1,0-22.48l7.63-5.06-7.63-5.06a13.454,13.454,0,0,1,0-22.47l7.63-5.069-7.63-5.06a13.455,13.455,0,0,1,0-22.471l7.63-5.07,5.09-7.589a13.621,13.621,0,0,1,22.59,0l5.09,7.589,5.09-7.589a13.621,13.621,0,0,1,22.59,0l5.1,7.589,1.57-2.33,3.52-5.259a13.621,13.621,0,0,1,22.59,0L288,53.6l.89-1.32,4.2-6.269a13.621,13.621,0,0,1,22.59,0l5.09,7.589,5.1-7.589a13.621,13.621,0,0,1,22.59,0l5.09,7.589,5.09-7.589a13.621,13.621,0,0,1,22.59,0l5.09,7.589,7.63,5.07a13.455,13.455,0,0,1,0,22.471l-7.63,5.06,7.63,5.069A13.454,13.454,0,0,1,393.95,113.737Z" style="fill:#fae8d8" /><rect x="224" y="87.997" width="128" height="192" style="fill:#4c8f56" /><path d="M128,392v28.65a13.517,13.517,0,0,1-16,1.33V392a88.1,88.1,0,0,0-85.09-87.95,13.706,13.706,0,0,1-.62-16.02A103.669,103.669,0,0,1,97.51,318.5,103.67,103.67,0,0,1,128,392Z" style="fill:#684436" /><path d="M256,192a8,8,0,0,1-5.656-13.657l11.2-11.2a14.781,14.781,0,0,1,20.906,0L288,172.684l10.343-10.344a8,8,0,0,1,11.314,11.314l-11.2,11.2a14.782,14.782,0,0,1-20.907,0L272,179.312l-10.344,10.342A7.972,7.972,0,0,1,256,192Z" style="fill:#684436" /><path d="M256,224a8,8,0,0,1-5.656-13.657l11.2-11.2a14.781,14.781,0,0,1,20.906,0L288,204.684l10.343-10.344a8,8,0,0,1,11.314,11.314l-11.2,11.2a14.782,14.782,0,0,1-20.907,0L272,211.312l-10.344,10.342A7.972,7.972,0,0,1,256,224Z" style="fill:#684436" /><path d="M256,256a8,8,0,0,1-5.656-13.657l11.2-11.2a14.781,14.781,0,0,1,20.906,0L288,236.684l10.343-10.344a8,8,0,0,1,11.314,11.314l-11.2,11.2a14.782,14.782,0,0,1-20.907,0L272,243.312l-10.344,10.342A7.972,7.972,0,0,1,256,256Z" style="fill:#684436" /><rect x="368" y="247.997" width="48" height="224" rx="16" ry="16" style="fill:#2b70a8" /><rect x="368" y="263.997" width="48" height="64" style="fill:#fcb442" /><circle cx="392" cy="199.997" r="96" style="fill:#2b70a8" /><circle cx="392" cy="199.997" r="64" style="fill:#d8c8b9" /><path d="M160,392v29.15a13.526,13.526,0,0,1-16,.44V392A120.142,120.142,0,0,0,27.59,272.06a13.686,13.686,0,0,1-1.77-16.05C99.97,257,160,317.63,160,392Z" style="fill:#684436" /><path d="M407.335,97.13A21.255,21.255,0,0,0,400.5,86.2a21.451,21.451,0,0,0-2.12-34.194l-6.3-4.188-4.2-6.264A21.549,21.549,0,0,0,369.948,32h-.01a21.572,21.572,0,0,0-16.388,7.509A21.573,21.573,0,0,0,337.161,32h-.009a21.556,21.556,0,0,0-16.378,7.512A21.553,21.553,0,0,0,304.4,32h-.008A21.57,21.57,0,0,0,288,39.512,21.577,21.577,0,0,0,271.611,32H271.6a21.552,21.552,0,0,0-16.377,7.513A21.554,21.554,0,0,0,238.848,32h-.009a21.573,21.573,0,0,0-16.389,7.509A21.574,21.574,0,0,0,206.062,32h-.01a21.55,21.55,0,0,0-17.927,9.551l-4.2,6.265L177.635,52a21.452,21.452,0,0,0-2.13,34.206,21.45,21.45,0,0,0,0,32.6,21.459,21.459,0,0,0,0,32.6,21.46,21.46,0,0,0,0,32.6,21.474,21.474,0,0,0-7.479,15.469l-.021.021a21.469,21.469,0,0,0-32.6,0,21.467,21.467,0,0,0-32.6,0A21.433,21.433,0,0,0,86.5,192h-.009A21.42,21.42,0,0,0,70.2,199.5,21.428,21.428,0,0,0,53.9,192h-.009a21.425,21.425,0,0,0-17.885,9.617l-4.188,6.3-6.27,4.205a21.637,21.637,0,0,0-2.036,34.332,21.68,21.68,0,0,0-7.435,18.224,21.458,21.458,0,0,0,7.43,14.544,21.659,21.659,0,0,0,0,32.784,21.633,21.633,0,0,0,.006,32.767,21.642,21.642,0,0,0,0,32.779,21.629,21.629,0,0,0,2.043,34.326l6.265,4.2L36,422.369A21.428,21.428,0,0,0,53.892,432H53.9a21.429,21.429,0,0,0,16.3-7.5A21.415,21.415,0,0,0,86.492,432H86.5a21.435,21.435,0,0,0,16.3-7.5,21.571,21.571,0,0,0,16.323,7.5c.464,0,.931-.015,1.4-.045A21.273,21.273,0,0,0,135.4,424.5a21.469,21.469,0,0,0,32.6,0,21.469,21.469,0,0,0,32.6,0,21.467,21.467,0,0,0,32.6,0,21.433,21.433,0,0,0,16.3,7.5h.009a21.417,21.417,0,0,0,16.289-7.5,21.428,21.428,0,0,0,16.3,7.5h.009a21.423,21.423,0,0,0,17.885-9.617l4.188-6.3,6.27-4.205a21.629,21.629,0,0,0,2.039-34.322,21.642,21.642,0,0,0,0-32.778,21.583,21.583,0,0,0,7.474-15.4c.277-.29.554-.579.815-.886A21.555,21.555,0,0,0,337.152,336h.009a21.575,21.575,0,0,0,16.388-7.508A21.516,21.516,0,0,0,360,333.568V456a24.028,24.028,0,0,0,24,24h16a24.028,24.028,0,0,0,24-24V298.953A104,104,0,0,0,407.335,97.13ZM80,324.169A88.229,88.229,0,0,1,108.673,368H80ZM80,304.4V285.9A120.425,120.425,0,0,1,141.587,368H125.2A104.353,104.353,0,0,0,80,304.4ZM37.556,288.882l4.5-3.018a7.978,7.978,0,0,0,1.161-12.32A118.959,118.959,0,0,1,64,278.864v17.141A103.159,103.159,0,0,0,37.556,288.882ZM80,268.072V256h90.22a21.436,21.436,0,0,0,5.284,25.8,21.451,21.451,0,0,0,2.118,34.2l6.3,4.188,4.2,6.264A21.549,21.549,0,0,0,206.052,336h.01a21.572,21.572,0,0,0,16.388-7.509A21.57,21.57,0,0,0,238.839,336h.009a21.554,21.554,0,0,0,16.373-7.507c.251.294.514.574.779.853V368H157.879A136.48,136.48,0,0,0,80,268.072ZM34.466,225.4l7.59-5.09a8,8,0,0,0,2.207-2.216l5.076-7.639A5.419,5.419,0,0,1,53.9,208h0a5.433,5.433,0,0,1,4.573,2.467l5.06,7.63A8,8,0,0,0,70.2,221.67h0a8,8,0,0,0,6.663-3.573l5.075-7.638A5.42,5.42,0,0,1,86.5,208h0a5.432,5.432,0,0,1,4.572,2.466l5.06,7.63a8,8,0,0,0,13.334,0l5.058-7.628a5.473,5.473,0,0,1,9.148,0l5.06,7.63a8,8,0,0,0,13.334,0l5.058-7.627a5.473,5.473,0,0,1,9.148,0l5.06,7.63a8,8,0,0,0,10.47,2.616A21.437,21.437,0,0,0,169.208,240H72a8,8,0,0,0-8,8v14.006a135.079,135.079,0,0,0-27.181-5.4l5.237-3.511a8,8,0,0,0,0-13.289l-7.585-5.086a5.633,5.633,0,0,1,0-9.316ZM102.8,402.32a8,8,0,0,0-6.667,3.579l-5.058,7.626A5.434,5.434,0,0,1,86.5,416h0a5.425,5.425,0,0,1-4.566-2.472l-5.07-7.629A8,8,0,0,0,70.2,402.32h0a8,8,0,0,0-6.664,3.578l-5.058,7.628A5.437,5.437,0,0,1,53.9,416h0a5.426,5.426,0,0,1-4.565-2.473l-5.07-7.629a8.017,8.017,0,0,0-2.207-2.217l-7.585-5.086a5.623,5.623,0,0,1,0-9.306l7.59-5.09a8,8,0,0,0,0-13.289l-7.585-5.086a5.632,5.632,0,0,1,0-9.315l7.59-5.091a8,8,0,0,0,0-13.288l-7.585-5.086a5.622,5.622,0,0,1,0-9.305l7.59-5.089a7.99,7.99,0,0,0,.891-12.585A87.325,87.325,0,0,1,64,313.629V376a8,8,0,0,0,8,8h39.633c.238,2.635.367,5.3.367,8v17.721l-2.533-3.82A8,8,0,0,0,102.8,402.32Zm32.6,0a8,8,0,0,0-6.667,3.578L128,407V392q0-4.035-.305-8h16.032c.175,2.644.273,5.309.273,8v16.817l-1.933-2.915A8,8,0,0,0,135.4,402.32Zm158.544-18.126,7.591,5.09a5.623,5.623,0,0,1,0,9.3l-7.59,5.09a8.017,8.017,0,0,0-2.207,2.217l-5.076,7.638A5.419,5.419,0,0,1,282.1,416h0a5.433,5.433,0,0,1-4.573-2.467l-5.06-7.63a8,8,0,0,0-6.664-3.578h0a8,8,0,0,0-6.663,3.574l-5.075,7.637A5.42,5.42,0,0,1,249.5,416h0a5.432,5.432,0,0,1-4.572-2.466l-5.06-7.63a8,8,0,0,0-13.334,0l-5.058,7.628a5.473,5.473,0,0,1-9.148,0l-5.06-7.63a8,8,0,0,0-13.334,0l-5.058,7.627a5.473,5.473,0,0,1-9.148,0l-5.06-7.63a8,8,0,0,0-13.334,0L160,407.909V392c0-2.685-.087-5.35-.242-8H264a8,8,0,0,0,8-8V335.972a21.638,21.638,0,0,0,3.8-.378,21.379,21.379,0,0,0,12.2-7.105,21.568,21.568,0,0,0,10.429,6.626l-4.488,3.01a8,8,0,0,0,0,13.288l7.585,5.088a5.631,5.631,0,0,1,0,9.314l-7.59,5.09a8,8,0,0,0,0,13.289ZM353.55,306.4a8,8,0,0,0-6.645,3.544l-5.086,7.585A5.552,5.552,0,0,1,337.161,320h0a5.54,5.54,0,0,1-4.649-2.469l-5.1-7.59a8,8,0,0,0-6.639-3.538h0a8,8,0,0,0-6.641,3.544l-5.088,7.588a5.367,5.367,0,0,1-1.615,1.586,5.638,5.638,0,0,1-7.688-1.584l-5.089-7.59a8,8,0,0,0-13.29,0l-5.085,7.585a5.45,5.45,0,0,1-3.539,2.362,5.727,5.727,0,0,1-4.293-.856,5.261,5.261,0,0,1-1.473-1.5l-5.09-7.59a8,8,0,0,0-6.641-3.544h0a8,8,0,0,0-6.639,3.538l-5.106,7.6A5.535,5.535,0,0,1,238.841,320h0a5.55,5.55,0,0,1-4.654-2.463l-5.09-7.59a8,8,0,0,0-13.289,0l-5.086,7.585A5.554,5.554,0,0,1,206.061,320h0a5.534,5.534,0,0,1-4.645-2.463l-5.09-7.59a8.017,8.017,0,0,0-2.217-2.207l-7.642-5.079a5.454,5.454,0,0,1,.007-9.131l7.63-5.06a8,8,0,0,0,0-13.33l-7.641-5.077a5.456,5.456,0,0,1,.006-9.133l7.63-5.06a8,8,0,0,0,0-13.334l-7.631-5.061a5.463,5.463,0,0,1,0-9.145l7.63-5.06a8,8,0,0,0,0-13.334l-7.614-5.049a5.419,5.419,0,0,1-2.385-3.507l-.018-.1a5.43,5.43,0,0,1,2.387-5.551l7.63-5.06a8,8,0,0,0,0-13.334l-7.63-5.06a5.465,5.465,0,0,1,0-9.146l7.63-5.06a8,8,0,0,0,0-13.334l-7.631-5.061a5.463,5.463,0,0,1,0-9.145l7.63-5.06a8,8,0,0,0,0-13.334l-7.63-5.06a5.455,5.455,0,0,1,.006-9.14l7.629-5.07a8,8,0,0,0,0-13.33l-7.631-5.061a5.454,5.454,0,0,1,.007-9.139l7.629-5.07a8.017,8.017,0,0,0,2.217-2.207l5.09-7.591A5.535,5.535,0,0,1,206.059,48h0a5.551,5.551,0,0,1,4.655,2.463l5.09,7.59a8,8,0,0,0,13.289,0l5.086-7.585A5.552,5.552,0,0,1,238.839,48h0a5.54,5.54,0,0,1,4.649,2.469l5.1,7.59a8,8,0,0,0,6.636,3.538h0a8,8,0,0,0,6.636-3.532l5.1-7.6A5.535,5.535,0,0,1,271.609,48h0a5.551,5.551,0,0,1,4.655,2.463l5.089,7.59A8,8,0,0,0,287.99,61.6H288a8,8,0,0,0,6.633-3.528l5.1-7.6A5.554,5.554,0,0,1,304.389,48h0a5.534,5.534,0,0,1,4.644,2.463l5.09,7.59a8,8,0,0,0,6.641,3.544h0a8,8,0,0,0,6.639-3.538l5.106-7.6A5.535,5.535,0,0,1,337.159,48h0a5.55,5.55,0,0,1,4.654,2.463l5.09,7.59a8,8,0,0,0,13.289,0l5.086-7.585A5.554,5.554,0,0,1,369.939,48h0a5.534,5.534,0,0,1,4.645,2.463l5.09,7.59a8.017,8.017,0,0,0,2.217,2.207l7.642,5.079a5.454,5.454,0,0,1-.007,9.131l-7.63,5.06a8,8,0,0,0,0,13.33l4.912,3.264A103.394,103.394,0,0,0,360,101.041V88a8,8,0,0,0-8-8H224a8,8,0,0,0-8,8V280a8,8,0,0,0,8,8H336.642A103.54,103.54,0,0,0,360,298.953V309.69A7.993,7.993,0,0,0,353.55,306.4ZM293.215,167.471,288,172.686l-5.543-5.552a14.788,14.788,0,0,0-20.917,0l-11.2,11.21a8,8,0,1,0,11.318,11.308L272,179.305l5.543,5.552a14.737,14.737,0,0,0,11.021,4.3A104.688,104.688,0,0,0,288,200c0,1.536.04,3.063.107,4.583l-.106.106-5.543-5.552a14.788,14.788,0,0,0-20.917,0l-11.2,11.21a8,8,0,1,0,11.318,11.308L272,211.305l5.543,5.552a14.758,14.758,0,0,0,12.591,4.154,103.041,103.041,0,0,0,2.823,10.718L288,236.686l-5.543-5.552a14.788,14.788,0,0,0-20.917,0l-11.2,11.21a8,8,0,1,0,11.318,11.308L272,243.305l5.543,5.552a14.805,14.805,0,0,0,20.914,0l1.151-1.151A104.507,104.507,0,0,0,317.029,272H232V96H344v11.759A104.535,104.535,0,0,0,293.215,167.471ZM400,464H384a8.009,8.009,0,0,1-8-8V336h32V456A8.009,8.009,0,0,1,400,464Zm8-144H376V302.766a104.6,104.6,0,0,0,32,0Zm-16-32a88.116,88.116,0,0,1-87.725-81.041l0-.057Q304,203.482,304,200a88,88,0,1,1,88,88Z" /><path d="M392,128a72,72,0,1,0,72,72A72.081,72.081,0,0,0,392,128Zm0,128a56,56,0,1,1,56-56A56.063,56.063,0,0,1,392,256Z" /></svg>
</a>
<p class="btn btn-warning float-right" data-toggle="modal" data-target="#create_collection"> THÊM MỚI</p>
<table class="table table-bordered table-hover mt-4">
    <tr class="table-info text-center">
        <th>
            <span><i class="fa fa-list"></i> Tên bô sưu tập</span>
        </th>
        <th>
            <span><i class="fa fa-image"></i> Ảnh 1</span>
        </th>
        <th>
            <span><i class="fa fa-image"></i> Ảnh 2</span>
        </th>
        <th>
            <span><i class="fa fa-image"></i> Ảnh 3</span>
        </th>
        <th>
            <span><i class="fa fa-calendar"></i> Ngày tạo</span>
        </th>
        <th>
            <span><i class="fa fa-toggle-on"></i> Hoạt động</span>
        </th>
        <th>
            <span><i class="fa fa-trash-o"></i> Thùng rác</span>
        </th>
        <th>
            <span><i class="fa fa-cogs"></i> Công cụ</span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.collection_name)
            </td>
            <td class="text-center">
                <img src="~/Content/Layout/images/@item.collection_image1" height="100" width="100" />
            </td>
            <td class="text-center">
                <img src="~/Content/Layout/images/@item.collection_image2" height="100" width="100" />
            </td>
            <td class="text-center">
                <img src="~/Content/Layout/images/@item.collection_image3" height="100" width="100" />
            </td>
            <td class="text-center">
                <p>@item.collection_datecreate.Value.Day/@item.collection_datecreate.Value.Month/@item.collection_datecreate.Value.Year</p>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.collection_active)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.collection_bin)
            </td>
            <td width="120">
                <div class="text-center">
                    <a href="@Url.Action("Edit","Collections", new {id=item.collection_id})" data-toggle="modal" data-target="#@col_edit@item.collection_id">
                        <svg height="20" viewBox="0 -1 401.5411 401" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path d="m381.289062 32.242188c13.671876 13.664062 13.671876 35.824218 0 49.488281l-17.679687 17.679687-61.230469-61.230468 17.679688-17.679688c13.671875-13.667969 35.832031-13.667969 49.5 0zm0 0" fill="#00acea" />
                            <path d="m363.609375 99.410156-160.148437 160.160156h-.011719l-61.230469-61.230468 160.160156-160.160156zm0 0" fill="#00efd1" />
                            <path d="m142.21875 198.339844 61.230469 61.230468-.570313.570313-84.6875 23.460937 23.457032-84.691406zm0 0" fill="#fedb41" />
                            <g fill="#083863">
                                <path d="m370.589844 250.960938c-5.523438 0-10 4.476562-10 10v88.789062c-.019532 16.5625-13.4375 29.980469-30 30h-280.589844c-16.5625-.019531-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980468 30-30h88.789062c5.523438 0 10-4.476562 10-10 0-5.523437-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398438-50 50v260.589844c.03125 27.601562 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398438 50-50v-88.789062c0-5.523438-4.476563-10-10-10zm0 0" />
                                <path d="m376.632812 13.429688c-17.589843-17.546876-46.058593-17.546876-63.644531 0l-178.410156 178.410156c-1.21875 1.222656-2.105469 2.738281-2.566406 4.398437l-23.457031 84.691407c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.691406-23.460937c1.664063-.460938 3.183594-1.347656 4.40625-2.570313l.566407-.570312 177.835937-177.835938c17.574219-17.570312 17.574219-46.058593 0-63.628906zm-229.675781 203.789062 37.613281 37.617188-52.03125 14.414062zm56.5 42.355469v-.007813l6.519531 6.519532zm0-14.140625-47.09375-47.09375 146.015625-146.015625 47.089844 47.085937zm170.761719-170.773438-10.609375 10.609375-47.085937-47.089843 10.609374-10.609376c9.765626-9.746093 25.582032-9.746093 35.351563 0l11.734375 11.746094c9.765625 9.757813 9.765625 25.585938 0 35.34375zm0 0" />
                            </g>
                        </svg>
                    </a> |
                    <a href="@Url.Action("Details","Collections", new {id=item.collection_id})" data-toggle="modal" data-target="#@col_detail@item.collection_id">
                        <svg id="Layer_1" enable-background="new 0 0 512 512" height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <g clip-rule="evenodd" fill-rule="evenodd">
                                    <path d="m231.249 311.163-29.961-29.962-63.073 63.042 29.991 29.963z" fill="#f5bc98" />
                                    <path d="m227.31 315.103-29.962-29.962-14.57 14.542 11.282 11.282c2.58 2.579 2.636 5.641 0 8.25l-40.422 40.422 14.57 14.57z" fill="#edaa80" />
                                    <path d="m454.566 57.856c-67.154-67.153-176.005-67.153-243.159 0s-67.154 176.034 0 243.159c67.154 67.154 176.005 67.154 243.159 0 67.153-67.125 67.153-176.006 0-243.159z" fill="#b1e4f9" />
                                    <path d="m454.566 57.856c-37.276-37.276-87.422-53.831-136.15-49.72 39.034 3.288 77.16 19.871 107.038 49.72 67.154 67.153 67.154 176.034 0 243.159-29.877 29.878-68.004 46.461-107.038 49.749 48.728 4.11 98.874-12.444 136.15-49.749 67.153-67.125 67.153-176.006 0-243.159z" fill="#90d8f9" />
                                    <path d="m173.054 369.359-29.962-29.962c-6.888-6.889-18.142-6.889-25.002 0l-104.997 104.996c-6.888 6.889-6.888 18.114 0 25.002l29.963 29.963c6.86 6.859 18.113 6.859 24.974 0l105.024-105.025c6.86-6.861 6.86-18.114 0-24.974z" fill="#d68756" />
                                    <path d="m173.054 369.359-29.962-29.962c-6.888-6.889-18.142-6.889-25.002 0l-2.069 2.069 27.893 27.893c6.889 6.86 6.889 18.113 0 24.973l-102.928 102.956 2.069 2.069c6.86 6.859 18.113 6.859 24.974 0l105.024-105.025c6.861-6.86 6.861-18.113.001-24.973z" fill="#c47443" />
                                    <path d="m141.815 425.57-54.963-54.936-42.521 42.521 54.936 54.964z" fill="#365e7d" />
                                    <path d="m332.986 108.058c56.637 0 104.628 30.444 121.41 72.625 4.535 11.424 4.563 12.813 0 24.237-16.753 42.18-64.773 72.653-121.41 72.653-56.608 0-104.6-30.416-121.381-72.568-4.564-11.452-4.592-12.841-.028-24.293 16.753-42.181 64.773-72.654 121.409-72.654z" fill="#f4fbff" />
                                    <path d="m332.986 108.058c56.637 0 104.628 30.444 121.41 72.625 4.535 11.424 4.563 12.813 0 24.237-16.753 42.18-64.773 72.653-121.41 72.653-4.932 0-9.779-.256-14.57-.681 50.203-4.706 91.589-33.449 106.868-71.972 4.535-11.424 4.535-12.813 0-24.237-15.307-38.495-56.665-67.21-106.868-71.916 4.791-.454 9.638-.709 14.57-.709z" fill="#e4f6ff" />
                                    <path d="m332.986 246.702c29.679 0 53.887-24.208 53.887-53.888 0-29.679-24.208-53.887-53.887-53.887s-53.887 24.208-53.887 53.887c.001 29.68 24.208 53.888 53.887 53.888z" fill="#95d6a4" />
                                    <path d="m332.986 138.928c29.765 0 53.887 24.123 53.887 53.887 0 29.765-24.122 53.888-53.887 53.888-5.045 0-9.921-.68-14.57-1.984 22.706-6.35 39.345-27.185 39.345-51.903s-16.639-45.525-39.345-51.903c4.649-1.277 9.525-1.985 14.57-1.985z" fill="#78c2a4" />
                                    <path d="m332.986 212.998c11.112 0 20.183-9.071 20.183-20.184 0-11.111-9.071-20.183-20.183-20.183-11.111 0-20.183 9.071-20.183 20.183 0 11.113 9.072 20.184 20.183 20.184z" fill="#365e7d" />
                                    <path d="m127.246 411.029-42.52 42.52 14.541 14.57 42.548-42.549z" fill="#2b4d66" />
                                </g>
                                <path d="m332.986 100.574c4.592 0 9.128.199 13.607.567l2.495-20.693c.482-4.11 4.195-7.058 8.305-6.576 4.11.51 7.059 4.224 6.577 8.334l-2.523 20.863c8.504 1.531 16.697 3.713 24.52 6.492l7.002-19.305c1.417-3.883 5.697-5.896 9.581-4.479 3.884 1.389 5.897 5.698 4.479 9.581l-7.228 19.928c6.435 3.062 12.529 6.548 18.255 10.403 1.19.822 2.353 1.644 3.515 2.494l11.169-17.093c2.239-3.458 6.86-4.451 10.346-2.183 3.459 2.239 4.423 6.86 2.183 10.347l-12.047 18.453c5.868 5.415 11.112 11.283 15.647 17.576l14.457-13.947c2.977-2.863 7.711-2.778 10.573.198 2.863 2.977 2.778 7.739-.198 10.602l-16.781 16.186c3.799 7.2 6.69 14.825 8.618 22.734.312 1.276.255 2.523-.057 3.714-6.407 26.164-23.557 49.012-47.424 65.169-23.216 15.704-52.838 25.115-85.069 25.115-32.202 0-61.824-9.412-85.04-25.115-23.954-16.186-41.131-39.119-47.509-65.368-.283-1.247-.255-2.523.057-3.686 1.928-7.852 4.819-15.42 8.561-22.564l-16.781-16.186c-2.977-2.863-3.062-7.625-.199-10.602 2.864-2.977 7.598-3.061 10.574-.198l14.457 13.947c4.535-6.293 9.779-12.161 15.647-17.576l-12.047-18.453c-2.239-3.487-1.247-8.107 2.211-10.347 3.459-2.268 8.079-1.275 10.318 2.183l11.169 17.093c1.162-.85 2.325-1.672 3.544-2.494 5.697-3.855 11.792-7.342 18.227-10.403l-7.229-19.928c-1.389-3.883.596-8.192 4.479-9.581 3.883-1.417 8.192.596 9.581 4.479l7.002 19.305c7.824-2.779 16.016-4.961 24.52-6.492l-2.495-20.863c-.482-4.11 2.438-7.824 6.548-8.334 4.11-.482 7.852 2.466 8.334 6.576l2.466 20.693c4.476-.367 9.011-.566 13.603-.566zm-251.435 264.759 31.238-31.238c4.904-4.904 11.339-7.37 17.802-7.37 4.025 0 8.022.964 11.679 2.863l45.157-45.156c-22.592-31.239-33.874-68.118-33.874-104.997 0-45.922 17.518-91.844 52.555-126.88 35.035-35.036 80.957-52.555 126.878-52.555 45.922 0 91.844 17.519 126.88 52.555 14.967 14.967 26.731 31.947 35.32 50.088 8.901 18.794 14.343 38.807 16.356 59.104.396 4.11-2.608 7.767-6.718 8.164-4.11.425-7.767-2.58-8.164-6.69-1.843-18.596-6.832-36.936-14.996-54.171-7.852-16.583-18.652-32.117-32.4-45.894-32.117-32.088-74.184-48.161-116.279-48.161s-84.161 16.073-116.278 48.161c-32.117 32.117-48.161 74.212-48.161 116.279 0 42.095 16.044 84.189 48.161 116.278 32.117 32.117 74.184 48.161 116.278 48.161 42.095 0 84.162-16.044 116.279-48.161 13.748-13.748 24.548-29.311 32.4-45.865 8.164-17.235 13.153-35.575 14.996-54.17.396-4.111 4.053-7.116 8.164-6.719 4.11.425 7.115 4.083 6.718 8.193-2.013 20.296-7.455 40.309-16.356 59.074-8.59 18.17-20.353 35.15-35.32 50.089-35.037 35.065-80.958 52.583-126.88 52.583-36.879 0-73.73-11.31-104.968-33.902l-45.185 45.157c1.927 3.656 2.863 7.682 2.863 11.707 0 6.435-2.438 12.897-7.342 17.801l-31.238 31.21c-24.604 24.605-49.182 49.182-73.786 73.787-4.904 4.904-11.339 7.342-17.802 7.342-6.434 0-12.897-2.438-17.773-7.342l-29.991-29.963c-4.875-4.904-7.342-11.367-7.342-17.801 0-6.435 2.466-12.898 7.342-17.802 24.605-24.576 49.181-49.182 73.787-73.759zm-26.618 47.822 44.335 44.362 31.947-31.947-44.362-44.335zm33.732 54.964-44.363-44.362-25.909 25.938c-1.984 1.984-2.976 4.592-2.976 7.2 0 2.607.992 5.215 2.976 7.2l29.963 29.963c1.956 1.956 4.564 2.948 7.171 2.948 2.636 0 5.244-.992 7.2-2.948zm8.788-97.485 44.362 44.335 25.938-25.938c1.956-1.956 2.948-4.564 2.948-7.171 0-2.636-.992-5.244-2.948-7.2l-29.962-29.962c-1.984-1.984-4.592-2.977-7.2-2.977s-5.216.992-7.2 2.977zm118.319-54.624-9.666-9.694-9.695-9.666-42.718 42.747 19.36 19.36zm117.214-150.862c7.654 0 14.57 3.09 19.587 8.107 4.989 4.989 8.107 11.905 8.107 19.559s-3.118 14.571-8.107 19.56c-5.017 5.017-11.934 8.107-19.587 8.107-7.625 0-14.57-3.09-19.559-8.107-5.017-4.989-8.107-11.906-8.107-19.56 0-7.653 3.09-14.57 8.107-19.559 4.989-5.017 11.934-8.107 19.559-8.107zm8.958 18.709c-2.296-2.296-5.442-3.713-8.957-3.713-3.486 0-6.661 1.417-8.957 3.713s-3.714 5.471-3.714 8.957c0 3.516 1.418 6.662 3.714 8.958s5.471 3.713 8.957 3.713c3.515 0 6.662-1.417 8.957-3.713 2.296-2.296 3.713-5.443 3.713-8.958 0-3.486-1.417-6.661-3.713-8.957zm-53.065-5.499c-1.275 3.94-5.499 6.066-9.411 4.791-3.941-1.275-6.095-5.499-4.819-9.411 4.083-12.444 12.02-23.13 22.366-30.643 10.12-7.342 22.564-11.65 35.972-11.65 16.951 0 32.287 6.86 43.399 17.972s18 26.447 18 43.398c0 16.952-6.888 32.288-18 43.399-11.112 11.112-26.448 18-43.399 18-13.408 0-25.852-4.337-35.972-11.65-10.346-7.512-18.283-18.199-22.366-30.643-1.275-3.94.879-8.164 4.819-9.439 3.912-1.276 8.136.878 9.411 4.791 3.09 9.383 9.071 17.461 16.923 23.159 7.625 5.528 17.037 8.759 27.185 8.759 12.813 0 24.406-5.188 32.797-13.579 8.391-8.39 13.578-19.984 13.578-32.797s-5.188-24.406-13.578-32.797c-8.391-8.39-19.984-13.578-32.797-13.578-10.148 0-19.559 3.26-27.185 8.788-7.852 5.668-13.833 13.748-16.923 23.13zm120.786-40.224c-20.835-14.117-47.538-22.564-76.678-22.564-29.141 0-55.843 8.447-76.678 22.564-20.353 13.777-35.094 32.911-40.876 54.681 5.783 21.799 20.523 40.934 40.876 54.71 20.835 14.088 47.537 22.535 76.678 22.535s55.843-8.447 76.678-22.535c20.381-13.776 35.093-32.911 40.876-54.71-5.783-21.77-20.495-40.904-40.876-54.681z" />
                            </g>
                        </svg>
                    </a> |
                    <a href="@Url.Action("Delete","Collections", new {id=item.collection_id})" data-toggle="modal" data-target="#@col_delete@item.collection_id">
                        <svg id="Capa_1" enable-background="new 0 0 512 512" height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <g>
                                    <g>
                                        <path d="m91.373 62.847-7.362 94.653h343.979l-7.362-94.653c-2.43-31.238-28.487-55.347-59.82-55.347h-209.616c-31.333 0-57.39 24.109-59.819 55.347z" fill="#92dd7a" />
                                    </g>
                                </g>
                                <g><g><path d="m256 127.5c-11.046 0-20-8.954-20-20s8.954-20 20-20v-80h-104.808c-31.333 0-57.39 24.109-59.819 55.347l-7.362 94.653h171.989z" fill="#7ec66a" /></g></g>
                                <g><g><path d="m407.259 424.025 20.73-266.525h-343.978l20.73 266.525 151.259 40.238z" fill="#92dd7a" /></g></g>
                                <g><g><path d="m422.545 227.5 5.444-70h-343.978l20.73 266.525 56.234 14.96-16.449-211.485z" fill="#7ec66a" /></g></g>
                                <g><g><path d="m426 187.5h-340c-16.569 0-30-13.431-30-30 0-16.569 13.431-30 30-30h340c16.569 0 30 13.431 30 30 0 16.569-13.431 30-30 30z" fill="#b1ef97" /></g></g>
                                <g><g><path d="m191.128 157.5c0-16.569 13.431-30 30-30h-135.128c-16.569 0-30 13.431-30 30s13.431 30 30 30h135.128c-16.569 0-30-13.431-30-30z" fill="#92dd7a" /></g></g>
                                <g><g><path d="m353.919 59.826 4.07-52.326h-203.978l4.07 52.326c1.215 15.619 14.243 27.674 29.91 27.674h136.02c15.665 0 28.694-12.055 29.908-27.674z" fill="#67b758" /></g></g>
                                <g><g><path d="m104.741 424.025 1.954 25.127c2.43 31.238 28.487 55.347 59.819 55.347h178.971c31.333 0 57.39-24.109 59.819-55.347l1.954-25.127z" fill="#7ec66a" /></g></g>
                                <g><g><path d="m106.695 449.153c2.43 31.238 28.487 55.347 59.819 55.347h55.071c-31.333 0-57.39-24.109-59.819-55.347l-1.954-25.127h-55.071z" fill="#67b758" /></g></g>
                                <g>
                                    <g><g><path d="m193.551 57.428c-4.142 0-7.5-3.358-7.5-7.5v-12c0-4.142 3.358-7.5 7.5-7.5s7.5 3.358 7.5 7.5v12c0 4.142-3.358 7.5-7.5 7.5z" /></g></g>
                                    <g><g><path d="m318.449 57.428c-4.142 0-7.5-3.358-7.5-7.5v-12c0-4.142 3.358-7.5 7.5-7.5s7.5 3.358 7.5 7.5v12c0 4.142-3.358 7.5-7.5 7.5z" /></g></g>
                                    <g><g><path d="m256 64.572c-8.477 0-16.539-3.671-22.118-10.073-2.722-3.123-2.396-7.86.726-10.582s7.859-2.397 10.582.726c2.73 3.132 6.67 4.928 10.811 4.928s8.081-1.796 10.811-4.928c2.721-3.124 7.459-3.448 10.582-.726s3.448 7.459.726 10.582c-5.581 6.401-13.643 10.073-22.12 10.073z" /></g></g>
                                </g>
                                <g>
                                    <g><path d="m463.5 157.5c0-18.41-13.339-33.753-30.858-36.899l-4.537-58.335c-1.322-16.997-8.942-32.733-21.455-44.312-12.514-11.578-28.794-17.954-45.842-17.954h-209.616c-17.048 0-33.328 6.376-45.842 17.954s-20.133 27.315-21.455 44.312l-4.537 58.335c-17.519 3.146-30.858 18.489-30.858 36.899s13.339 33.753 30.858 36.899l11.902 153.03c.306 3.932 3.591 6.919 7.469 6.919.195 0 .392-.008.59-.023 4.13-.321 7.217-3.93 6.896-8.059l-11.765-151.266h323.1l-17.23 221.525h-288.64l-3.133-40.287c-.322-4.13-3.937-7.214-8.059-6.896-4.13.321-7.217 3.93-6.896 8.059l5.626 72.333c1.322 16.997 8.942 32.733 21.455 44.312 12.514 11.578 28.794 17.954 45.842 17.954h178.971c17.048 0 33.328-6.376 45.842-17.954 12.513-11.578 20.133-27.315 21.455-44.312l19.86-255.335c17.518-3.146 30.857-18.489 30.857-36.899zm-316.415-142.324 3.518 45.231c1.509 19.398 17.931 34.593 37.387 34.593h87.884c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-87.884c-11.674 0-21.527-9.117-22.432-20.755l-3.441-44.245h187.766l-3.441 44.245c-.905 11.638-10.758 20.755-22.432 20.755h-18.136c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h18.136c19.456 0 35.878-15.195 37.387-34.592l3.518-45.231c25.407 2.011 46.23 22.474 48.235 48.252l4.4 56.571h-323.1l4.4-56.571c2.005-25.779 22.828-46.241 48.235-48.253zm198.4 481.824h-178.97c-27.238 0-50.229-21.272-52.342-48.429l-1.326-17.046h286.306l-1.326 17.046c-2.112 27.157-25.103 48.429-52.342 48.429zm80.515-317h-340c-12.407 0-22.5-10.093-22.5-22.5s10.093-22.5 22.5-22.5h340c12.407 0 22.5 10.093 22.5 22.5s-10.093 22.5-22.5 22.5z" /></g>
                                    <g><path d="m300.931 247.234c-4.116-.463-7.83 2.493-8.296 6.609l-.717 6.334-11.654-20.186c-4.971-8.61-13.874-13.75-23.815-13.75-9.942 0-18.845 5.14-23.816 13.75l-12.972 22.468c-2.071 3.587-.842 8.174 2.745 10.245 3.586 2.072 8.173.841 10.245-2.745l12.972-22.468c2.26-3.914 6.307-6.25 10.826-6.25s8.565 2.336 10.825 6.25l11.654 20.186-5.845-2.547c-3.797-1.656-8.217.083-9.871 3.88-1.655 3.797.083 8.217 3.88 9.871l26.722 11.643c.958.417 1.978.625 2.995.625 1.299 0 2.595-.337 3.75-1.005 2.061-1.19 3.435-3.287 3.703-5.652l3.278-28.963c.466-4.114-2.493-7.829-6.609-8.295z" fill="#fff" /></g>
                                    <g><path d="m330.333 354.212c4.971-8.61 4.971-18.89 0-27.5l-12.972-22.469c-2.071-3.588-6.657-4.817-10.245-2.745-3.587 2.071-4.816 6.658-2.745 10.245l12.972 22.469c2.259 3.914 2.26 8.586 0 12.5-2.259 3.914-6.306 6.25-10.825 6.25h-23.309l5.128-3.789c3.332-2.461 4.037-7.157 1.576-10.489-2.461-3.333-7.159-4.038-10.489-1.576l-23.444 17.321c-1.914 1.414-3.043 3.652-3.043 6.032s1.129 4.618 3.043 6.032l23.444 17.32c1.341.991 2.902 1.468 4.451 1.468 2.298 0 4.567-1.053 6.038-3.044 2.461-3.332 1.756-8.027-1.576-10.489l-5.127-3.788h23.309c9.939.003 18.842-5.137 23.814-13.748z" fill="#fff" /></g>
                                    <g><path d="m215.926 284.059c-2.06-1.189-4.564-1.331-6.746-.38l-26.722 11.643c-3.797 1.654-5.535 6.074-3.88 9.871 1.655 3.798 6.076 5.537 9.871 3.88l5.845-2.547-11.655 20.187c-4.971 8.609-4.971 18.89 0 27.5s13.874 13.75 23.816 13.75h25.944c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-25.944c-4.519 0-8.566-2.336-10.825-6.25-2.26-3.914-2.26-8.586 0-12.5l11.654-20.186.717 6.334c.434 3.83 3.679 6.658 7.443 6.657.282 0 .566-.016.853-.048 4.116-.466 7.075-4.18 6.609-8.296l-3.278-28.964c-.267-2.364-1.641-4.461-3.702-5.651z" fill="#fff" /></g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <!--Thêm Bộ Sưu Tập-->
                <div class="modal fade" id="create_collection" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="/SellerManagement/Collections/Index">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <?xml version="1.0" ?>
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 512 512" width="45" height="45"><path d="M305.99,274.13l-7.59,5.09,7.59,5.09a13.631,13.631,0,0,1,0,22.6L298.4,312l7.59,5.09a13.622,13.622,0,0,1,0,22.59l-7.59,5.09,7.59,5.09a13.631,13.631,0,0,1,0,22.6l-7.59,5.09,7.59,5.09a13.622,13.622,0,0,1,0,22.59l-7.59,5.09-5.07,7.63a13.463,13.463,0,0,1-22.47,0l-5.06-7.63-5.07,7.63a13.463,13.463,0,0,1-22.47,0l-5.06-7.63-5.06,7.63a13.472,13.472,0,0,1-22.48,0l-5.06-7.63-5.06,7.63a13.472,13.472,0,0,1-22.48,0L168,410.32l-5.06,7.63a13.9,13.9,0,0,1-2.94,3.2,13.455,13.455,0,0,1-19.54-3.2l-5.06-7.63-5.06,7.63a14.3,14.3,0,0,1-2.34,2.7,13.466,13.466,0,0,1-20.14-2.7l-5.06-7.63-5.06,7.63a13.463,13.463,0,0,1-22.47,0l-5.07-7.63-5.06,7.63a13.463,13.463,0,0,1-22.47,0l-5.07-7.63-7.59-5.09a13.622,13.622,0,0,1,0-22.59l7.59-5.09-7.59-5.09a13.631,13.631,0,0,1,0-22.6l7.59-5.09-7.59-5.09a13.622,13.622,0,0,1,0-22.59L37.6,312l-7.59-5.09a13.511,13.511,0,0,1-3.1-2.86,13.706,13.706,0,0,1-.62-16.02,13.3,13.3,0,0,1,3.72-3.72l7.59-5.09-7.59-5.09a13.539,13.539,0,0,1-2.42-2.07,13.686,13.686,0,0,1-1.77-16.05,13.383,13.383,0,0,1,4.19-4.47l7.59-5.09-7.59-5.09a13.631,13.631,0,0,1,0-22.6l7.59-5.09,5.07-7.63a13.463,13.463,0,0,1,22.47,0l5.06,7.63,5.07-7.63a13.463,13.463,0,0,1,22.47,0l5.06,7.63,5.06-7.63a13.472,13.472,0,0,1,22.48,0l5.06,7.63,5.06-7.63a13.472,13.472,0,0,1,22.48,0l5.06,7.63,5.06-7.63a13.472,13.472,0,0,1,22.48,0l5.06,7.63,5.06-7.63a13.472,13.472,0,0,1,22.48,0l5.06,7.63,5.06-7.63a13.463,13.463,0,0,1,22.47,0l5.07,7.63,5.06-7.63a13.463,13.463,0,0,1,22.47,0l5.07,7.63,7.59,5.09a13.631,13.631,0,0,1,0,22.6l-7.59,5.09,7.59,5.09A13.622,13.622,0,0,1,305.99,274.13Z" style="fill:#d8c8b9" /><rect x="104" y="215.997" width="128" height="192" transform="translate(-143.997 479.997) rotate(-90)" style="fill:#ce3536" /><path d="M393.95,113.737l-7.63,5.06,7.63,5.06a13.462,13.462,0,0,1,0,22.48l-7.63,5.06,7.63,5.06a13.47,13.47,0,0,1,0,22.481L386.32,184l7.63,5.06a13.463,13.463,0,0,1,0,22.48l-7.63,5.06,7.63,5.06a13.464,13.464,0,0,1,0,22.481l-7.63,5.06,7.63,5.06a13.453,13.453,0,0,1,0,22.469l-7.63,5.07,7.63,5.06a13.454,13.454,0,0,1,0,22.47l-7.63,5.07-5.09,7.59a13.622,13.622,0,0,1-22.59,0l-5.09-7.59-5.09,7.59a13.622,13.622,0,0,1-22.59,0l-5.1-7.59-5.09,7.59a13.622,13.622,0,0,1-22.59,0L288,314.4l-5.09,7.59a13.622,13.622,0,0,1-22.59,0l-5.09-7.59-5.1,7.59a13.622,13.622,0,0,1-22.59,0l-5.09-7.59-5.09,7.59a13.622,13.622,0,0,1-22.59,0l-5.09-7.59-7.63-5.07a13.454,13.454,0,0,1,0-22.47l7.63-5.06-7.63-5.07a13.453,13.453,0,0,1,0-22.469l7.63-5.06-7.63-5.06a13.464,13.464,0,0,1,0-22.481l7.63-5.06-7.63-5.06a13.463,13.463,0,0,1,0-22.48l7.63-5.06-7.63-5.059a13.464,13.464,0,0,1,0-22.481l7.63-5.06-7.63-5.06a13.463,13.463,0,0,1,0-22.48l7.63-5.06-7.63-5.06a13.454,13.454,0,0,1,0-22.47l7.63-5.069-7.63-5.06a13.455,13.455,0,0,1,0-22.471l7.63-5.07,5.09-7.589a13.621,13.621,0,0,1,22.59,0l5.09,7.589,5.09-7.589a13.621,13.621,0,0,1,22.59,0l5.1,7.589,1.57-2.33,3.52-5.259a13.621,13.621,0,0,1,22.59,0L288,53.6l.89-1.32,4.2-6.269a13.621,13.621,0,0,1,22.59,0l5.09,7.589,5.1-7.589a13.621,13.621,0,0,1,22.59,0l5.09,7.589,5.09-7.589a13.621,13.621,0,0,1,22.59,0l5.09,7.589,7.63,5.07a13.455,13.455,0,0,1,0,22.471l-7.63,5.06,7.63,5.069A13.454,13.454,0,0,1,393.95,113.737Z" style="fill:#fae8d8" /><rect x="224" y="87.997" width="128" height="192" style="fill:#4c8f56" /><path d="M128,392v28.65a13.517,13.517,0,0,1-16,1.33V392a88.1,88.1,0,0,0-85.09-87.95,13.706,13.706,0,0,1-.62-16.02A103.669,103.669,0,0,1,97.51,318.5,103.67,103.67,0,0,1,128,392Z" style="fill:#684436" /><path d="M256,192a8,8,0,0,1-5.656-13.657l11.2-11.2a14.781,14.781,0,0,1,20.906,0L288,172.684l10.343-10.344a8,8,0,0,1,11.314,11.314l-11.2,11.2a14.782,14.782,0,0,1-20.907,0L272,179.312l-10.344,10.342A7.972,7.972,0,0,1,256,192Z" style="fill:#684436" /><path d="M256,224a8,8,0,0,1-5.656-13.657l11.2-11.2a14.781,14.781,0,0,1,20.906,0L288,204.684l10.343-10.344a8,8,0,0,1,11.314,11.314l-11.2,11.2a14.782,14.782,0,0,1-20.907,0L272,211.312l-10.344,10.342A7.972,7.972,0,0,1,256,224Z" style="fill:#684436" /><path d="M256,256a8,8,0,0,1-5.656-13.657l11.2-11.2a14.781,14.781,0,0,1,20.906,0L288,236.684l10.343-10.344a8,8,0,0,1,11.314,11.314l-11.2,11.2a14.782,14.782,0,0,1-20.907,0L272,243.312l-10.344,10.342A7.972,7.972,0,0,1,256,256Z" style="fill:#684436" /><rect x="368" y="247.997" width="48" height="224" rx="16" ry="16" style="fill:#2b70a8" /><rect x="368" y="263.997" width="48" height="64" style="fill:#fcb442" /><circle cx="392" cy="199.997" r="96" style="fill:#2b70a8" /><circle cx="392" cy="199.997" r="64" style="fill:#d8c8b9" /><path d="M160,392v29.15a13.526,13.526,0,0,1-16,.44V392A120.142,120.142,0,0,0,27.59,272.06a13.686,13.686,0,0,1-1.77-16.05C99.97,257,160,317.63,160,392Z" style="fill:#684436" /><path d="M407.335,97.13A21.255,21.255,0,0,0,400.5,86.2a21.451,21.451,0,0,0-2.12-34.194l-6.3-4.188-4.2-6.264A21.549,21.549,0,0,0,369.948,32h-.01a21.572,21.572,0,0,0-16.388,7.509A21.573,21.573,0,0,0,337.161,32h-.009a21.556,21.556,0,0,0-16.378,7.512A21.553,21.553,0,0,0,304.4,32h-.008A21.57,21.57,0,0,0,288,39.512,21.577,21.577,0,0,0,271.611,32H271.6a21.552,21.552,0,0,0-16.377,7.513A21.554,21.554,0,0,0,238.848,32h-.009a21.573,21.573,0,0,0-16.389,7.509A21.574,21.574,0,0,0,206.062,32h-.01a21.55,21.55,0,0,0-17.927,9.551l-4.2,6.265L177.635,52a21.452,21.452,0,0,0-2.13,34.206,21.45,21.45,0,0,0,0,32.6,21.459,21.459,0,0,0,0,32.6,21.46,21.46,0,0,0,0,32.6,21.474,21.474,0,0,0-7.479,15.469l-.021.021a21.469,21.469,0,0,0-32.6,0,21.467,21.467,0,0,0-32.6,0A21.433,21.433,0,0,0,86.5,192h-.009A21.42,21.42,0,0,0,70.2,199.5,21.428,21.428,0,0,0,53.9,192h-.009a21.425,21.425,0,0,0-17.885,9.617l-4.188,6.3-6.27,4.205a21.637,21.637,0,0,0-2.036,34.332,21.68,21.68,0,0,0-7.435,18.224,21.458,21.458,0,0,0,7.43,14.544,21.659,21.659,0,0,0,0,32.784,21.633,21.633,0,0,0,.006,32.767,21.642,21.642,0,0,0,0,32.779,21.629,21.629,0,0,0,2.043,34.326l6.265,4.2L36,422.369A21.428,21.428,0,0,0,53.892,432H53.9a21.429,21.429,0,0,0,16.3-7.5A21.415,21.415,0,0,0,86.492,432H86.5a21.435,21.435,0,0,0,16.3-7.5,21.571,21.571,0,0,0,16.323,7.5c.464,0,.931-.015,1.4-.045A21.273,21.273,0,0,0,135.4,424.5a21.469,21.469,0,0,0,32.6,0,21.469,21.469,0,0,0,32.6,0,21.467,21.467,0,0,0,32.6,0,21.433,21.433,0,0,0,16.3,7.5h.009a21.417,21.417,0,0,0,16.289-7.5,21.428,21.428,0,0,0,16.3,7.5h.009a21.423,21.423,0,0,0,17.885-9.617l4.188-6.3,6.27-4.205a21.629,21.629,0,0,0,2.039-34.322,21.642,21.642,0,0,0,0-32.778,21.583,21.583,0,0,0,7.474-15.4c.277-.29.554-.579.815-.886A21.555,21.555,0,0,0,337.152,336h.009a21.575,21.575,0,0,0,16.388-7.508A21.516,21.516,0,0,0,360,333.568V456a24.028,24.028,0,0,0,24,24h16a24.028,24.028,0,0,0,24-24V298.953A104,104,0,0,0,407.335,97.13ZM80,324.169A88.229,88.229,0,0,1,108.673,368H80ZM80,304.4V285.9A120.425,120.425,0,0,1,141.587,368H125.2A104.353,104.353,0,0,0,80,304.4ZM37.556,288.882l4.5-3.018a7.978,7.978,0,0,0,1.161-12.32A118.959,118.959,0,0,1,64,278.864v17.141A103.159,103.159,0,0,0,37.556,288.882ZM80,268.072V256h90.22a21.436,21.436,0,0,0,5.284,25.8,21.451,21.451,0,0,0,2.118,34.2l6.3,4.188,4.2,6.264A21.549,21.549,0,0,0,206.052,336h.01a21.572,21.572,0,0,0,16.388-7.509A21.57,21.57,0,0,0,238.839,336h.009a21.554,21.554,0,0,0,16.373-7.507c.251.294.514.574.779.853V368H157.879A136.48,136.48,0,0,0,80,268.072ZM34.466,225.4l7.59-5.09a8,8,0,0,0,2.207-2.216l5.076-7.639A5.419,5.419,0,0,1,53.9,208h0a5.433,5.433,0,0,1,4.573,2.467l5.06,7.63A8,8,0,0,0,70.2,221.67h0a8,8,0,0,0,6.663-3.573l5.075-7.638A5.42,5.42,0,0,1,86.5,208h0a5.432,5.432,0,0,1,4.572,2.466l5.06,7.63a8,8,0,0,0,13.334,0l5.058-7.628a5.473,5.473,0,0,1,9.148,0l5.06,7.63a8,8,0,0,0,13.334,0l5.058-7.627a5.473,5.473,0,0,1,9.148,0l5.06,7.63a8,8,0,0,0,10.47,2.616A21.437,21.437,0,0,0,169.208,240H72a8,8,0,0,0-8,8v14.006a135.079,135.079,0,0,0-27.181-5.4l5.237-3.511a8,8,0,0,0,0-13.289l-7.585-5.086a5.633,5.633,0,0,1,0-9.316ZM102.8,402.32a8,8,0,0,0-6.667,3.579l-5.058,7.626A5.434,5.434,0,0,1,86.5,416h0a5.425,5.425,0,0,1-4.566-2.472l-5.07-7.629A8,8,0,0,0,70.2,402.32h0a8,8,0,0,0-6.664,3.578l-5.058,7.628A5.437,5.437,0,0,1,53.9,416h0a5.426,5.426,0,0,1-4.565-2.473l-5.07-7.629a8.017,8.017,0,0,0-2.207-2.217l-7.585-5.086a5.623,5.623,0,0,1,0-9.306l7.59-5.09a8,8,0,0,0,0-13.289l-7.585-5.086a5.632,5.632,0,0,1,0-9.315l7.59-5.091a8,8,0,0,0,0-13.288l-7.585-5.086a5.622,5.622,0,0,1,0-9.305l7.59-5.089a7.99,7.99,0,0,0,.891-12.585A87.325,87.325,0,0,1,64,313.629V376a8,8,0,0,0,8,8h39.633c.238,2.635.367,5.3.367,8v17.721l-2.533-3.82A8,8,0,0,0,102.8,402.32Zm32.6,0a8,8,0,0,0-6.667,3.578L128,407V392q0-4.035-.305-8h16.032c.175,2.644.273,5.309.273,8v16.817l-1.933-2.915A8,8,0,0,0,135.4,402.32Zm158.544-18.126,7.591,5.09a5.623,5.623,0,0,1,0,9.3l-7.59,5.09a8.017,8.017,0,0,0-2.207,2.217l-5.076,7.638A5.419,5.419,0,0,1,282.1,416h0a5.433,5.433,0,0,1-4.573-2.467l-5.06-7.63a8,8,0,0,0-6.664-3.578h0a8,8,0,0,0-6.663,3.574l-5.075,7.637A5.42,5.42,0,0,1,249.5,416h0a5.432,5.432,0,0,1-4.572-2.466l-5.06-7.63a8,8,0,0,0-13.334,0l-5.058,7.628a5.473,5.473,0,0,1-9.148,0l-5.06-7.63a8,8,0,0,0-13.334,0l-5.058,7.627a5.473,5.473,0,0,1-9.148,0l-5.06-7.63a8,8,0,0,0-13.334,0L160,407.909V392c0-2.685-.087-5.35-.242-8H264a8,8,0,0,0,8-8V335.972a21.638,21.638,0,0,0,3.8-.378,21.379,21.379,0,0,0,12.2-7.105,21.568,21.568,0,0,0,10.429,6.626l-4.488,3.01a8,8,0,0,0,0,13.288l7.585,5.088a5.631,5.631,0,0,1,0,9.314l-7.59,5.09a8,8,0,0,0,0,13.289ZM353.55,306.4a8,8,0,0,0-6.645,3.544l-5.086,7.585A5.552,5.552,0,0,1,337.161,320h0a5.54,5.54,0,0,1-4.649-2.469l-5.1-7.59a8,8,0,0,0-6.639-3.538h0a8,8,0,0,0-6.641,3.544l-5.088,7.588a5.367,5.367,0,0,1-1.615,1.586,5.638,5.638,0,0,1-7.688-1.584l-5.089-7.59a8,8,0,0,0-13.29,0l-5.085,7.585a5.45,5.45,0,0,1-3.539,2.362,5.727,5.727,0,0,1-4.293-.856,5.261,5.261,0,0,1-1.473-1.5l-5.09-7.59a8,8,0,0,0-6.641-3.544h0a8,8,0,0,0-6.639,3.538l-5.106,7.6A5.535,5.535,0,0,1,238.841,320h0a5.55,5.55,0,0,1-4.654-2.463l-5.09-7.59a8,8,0,0,0-13.289,0l-5.086,7.585A5.554,5.554,0,0,1,206.061,320h0a5.534,5.534,0,0,1-4.645-2.463l-5.09-7.59a8.017,8.017,0,0,0-2.217-2.207l-7.642-5.079a5.454,5.454,0,0,1,.007-9.131l7.63-5.06a8,8,0,0,0,0-13.33l-7.641-5.077a5.456,5.456,0,0,1,.006-9.133l7.63-5.06a8,8,0,0,0,0-13.334l-7.631-5.061a5.463,5.463,0,0,1,0-9.145l7.63-5.06a8,8,0,0,0,0-13.334l-7.614-5.049a5.419,5.419,0,0,1-2.385-3.507l-.018-.1a5.43,5.43,0,0,1,2.387-5.551l7.63-5.06a8,8,0,0,0,0-13.334l-7.63-5.06a5.465,5.465,0,0,1,0-9.146l7.63-5.06a8,8,0,0,0,0-13.334l-7.631-5.061a5.463,5.463,0,0,1,0-9.145l7.63-5.06a8,8,0,0,0,0-13.334l-7.63-5.06a5.455,5.455,0,0,1,.006-9.14l7.629-5.07a8,8,0,0,0,0-13.33l-7.631-5.061a5.454,5.454,0,0,1,.007-9.139l7.629-5.07a8.017,8.017,0,0,0,2.217-2.207l5.09-7.591A5.535,5.535,0,0,1,206.059,48h0a5.551,5.551,0,0,1,4.655,2.463l5.09,7.59a8,8,0,0,0,13.289,0l5.086-7.585A5.552,5.552,0,0,1,238.839,48h0a5.54,5.54,0,0,1,4.649,2.469l5.1,7.59a8,8,0,0,0,6.636,3.538h0a8,8,0,0,0,6.636-3.532l5.1-7.6A5.535,5.535,0,0,1,271.609,48h0a5.551,5.551,0,0,1,4.655,2.463l5.089,7.59A8,8,0,0,0,287.99,61.6H288a8,8,0,0,0,6.633-3.528l5.1-7.6A5.554,5.554,0,0,1,304.389,48h0a5.534,5.534,0,0,1,4.644,2.463l5.09,7.59a8,8,0,0,0,6.641,3.544h0a8,8,0,0,0,6.639-3.538l5.106-7.6A5.535,5.535,0,0,1,337.159,48h0a5.55,5.55,0,0,1,4.654,2.463l5.09,7.59a8,8,0,0,0,13.289,0l5.086-7.585A5.554,5.554,0,0,1,369.939,48h0a5.534,5.534,0,0,1,4.645,2.463l5.09,7.59a8.017,8.017,0,0,0,2.217,2.207l7.642,5.079a5.454,5.454,0,0,1-.007,9.131l-7.63,5.06a8,8,0,0,0,0,13.33l4.912,3.264A103.394,103.394,0,0,0,360,101.041V88a8,8,0,0,0-8-8H224a8,8,0,0,0-8,8V280a8,8,0,0,0,8,8H336.642A103.54,103.54,0,0,0,360,298.953V309.69A7.993,7.993,0,0,0,353.55,306.4ZM293.215,167.471,288,172.686l-5.543-5.552a14.788,14.788,0,0,0-20.917,0l-11.2,11.21a8,8,0,1,0,11.318,11.308L272,179.305l5.543,5.552a14.737,14.737,0,0,0,11.021,4.3A104.688,104.688,0,0,0,288,200c0,1.536.04,3.063.107,4.583l-.106.106-5.543-5.552a14.788,14.788,0,0,0-20.917,0l-11.2,11.21a8,8,0,1,0,11.318,11.308L272,211.305l5.543,5.552a14.758,14.758,0,0,0,12.591,4.154,103.041,103.041,0,0,0,2.823,10.718L288,236.686l-5.543-5.552a14.788,14.788,0,0,0-20.917,0l-11.2,11.21a8,8,0,1,0,11.318,11.308L272,243.305l5.543,5.552a14.805,14.805,0,0,0,20.914,0l1.151-1.151A104.507,104.507,0,0,0,317.029,272H232V96H344v11.759A104.535,104.535,0,0,0,293.215,167.471ZM400,464H384a8.009,8.009,0,0,1-8-8V336h32V456A8.009,8.009,0,0,1,400,464Zm8-144H376V302.766a104.6,104.6,0,0,0,32,0Zm-16-32a88.116,88.116,0,0,1-87.725-81.041l0-.057Q304,203.482,304,200a88,88,0,1,1,88,88Z" /><path d="M392,128a72,72,0,1,0,72,72A72.081,72.081,0,0,0,392,128Zm0,128a56,56,0,1,1,56-56A56.063,56.063,0,0,1,392,256Z" /></svg>&nbsp;THÊM BỘ SƯU TẬP
                                    </h5>
                                </a>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("Create", "Collections", FormMethod.Post, new { @class = "ui form segment", @enctype = "multipart/form-data" }))
                                {
                                    <form method="post" class="mb-4 ui form">
                                        <div class="field">
                                            <label>Tên bô sưu tập</label>
                                            <input type="text" name="collection_name" />
                                        </div>  
                                        <div class="three fields">
                                            <div class="field">
                                                <label>Ngày tạo</label>
                                                <input type="date" name="collection_datecreated" />
                                            </div>
                                            <div class="field">
                                                <label>Hoạt động</label>
                                                <select name="collection_active">
                                                    <option>True</option>
                                                    <option>False</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <label>Tên shop</label>
                                                <select name="seller_id">
                                                    <option>@sesse.seller_nameshop</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="three fields">
                                            <div class="field">
                                                <label>Ảnh 1</label>
                                                <input name="fileUpload1" type="file" />
                                            </div>
                                            <div class="field">
                                                <label>Ảnh 2</label>
                                                <input name="fileUpload2" type="file" />
                                            </div>
                                            <div class="field">
                                                <label>Ảnh 3</label>
                                                <input name="fileUpload3" type="file" />
                                            </div>
                                        </div>
                                        <div class="ui error message">@ViewBag.ThongBao</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> ĐÓNG</button>
                                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> ĐĂNG</button>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--//Thêm Bộ Sưu Tập-->
                <!--Sửa Bộ Sưu Tập-->
                <div class="modal fade" id="@col_edit@item.collection_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <svg height="20" viewBox="0 -1 401.5411 401" width="20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m381.289062 32.242188c13.671876 13.664062 13.671876 35.824218 0 49.488281l-17.679687 17.679687-61.230469-61.230468 17.679688-17.679688c13.671875-13.667969 35.832031-13.667969 49.5 0zm0 0" fill="#00acea" />
                                        <path d="m363.609375 99.410156-160.148437 160.160156h-.011719l-61.230469-61.230468 160.160156-160.160156zm0 0" fill="#00efd1" />
                                        <path d="m142.21875 198.339844 61.230469 61.230468-.570313.570313-84.6875 23.460937 23.457032-84.691406zm0 0" fill="#fedb41" />
                                        <g fill="#083863">
                                            <path d="m370.589844 250.960938c-5.523438 0-10 4.476562-10 10v88.789062c-.019532 16.5625-13.4375 29.980469-30 30h-280.589844c-16.5625-.019531-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980468 30-30h88.789062c5.523438 0 10-4.476562 10-10 0-5.523437-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398438-50 50v260.589844c.03125 27.601562 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398438 50-50v-88.789062c0-5.523438-4.476563-10-10-10zm0 0" />
                                            <path d="m376.632812 13.429688c-17.589843-17.546876-46.058593-17.546876-63.644531 0l-178.410156 178.410156c-1.21875 1.222656-2.105469 2.738281-2.566406 4.398437l-23.457031 84.691407c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.691406-23.460937c1.664063-.460938 3.183594-1.347656 4.40625-2.570313l.566407-.570312 177.835937-177.835938c17.574219-17.570312 17.574219-46.058593 0-63.628906zm-229.675781 203.789062 37.613281 37.617188-52.03125 14.414062zm56.5 42.355469v-.007813l6.519531 6.519532zm0-14.140625-47.09375-47.09375 146.015625-146.015625 47.089844 47.085937zm170.761719-170.773438-10.609375 10.609375-47.085937-47.089843 10.609374-10.609376c9.765626-9.746093 25.582032-9.746093 35.351563 0l11.734375 11.746094c9.765625 9.757813 9.765625 25.585938 0 35.34375zm0 0" />
                                        </g>
                                    </svg> &nbsp;SỬA BỘ SƯU TẬP
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("Edit", "Collections", FormMethod.Post, new { @class = "mb-4 ui form", @enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <input type="hidden" value="@item.collection_id" name="collection_id" />
                                    <input type="hidden" name="collection_image1" value="@item.collection_image1" />
                                    <input type="hidden" name="collection_image2" value="@item.collection_image2" />
                                    <input type="hidden" name="collection_image3" value="@item.collection_image3" />
                                    <div class="field">
                                        <label>Tên bô sưu tập</label>
                                        <input type="text" name="collection_name" value="@item.collection_name" />
                                    </div>
                                    <div class="three fields">
                                        <div class="field">
                                            <label>Ngày tạo</label>
                                            <input type="date" name="collection_datecreate" value="@item.collection_datecreate.Value.Year-@(item.collection_datecreate.Value.Month < 10 ? "0" + item.collection_datecreate.Value.Month.ToString() : item.collection_datecreate.Value.Month.ToString())-@(item.collection_datecreate.Value.Day < 10 ? "0" + item.collection_datecreate.Value.Day.ToString() : item.collection_datecreate.Value.Day.ToString())" />
                                        </div>
                                        <div class="field">
                                            <label>Hoạt động</label>
                                            <select name="collection_active">
                                                <option value="true" @(item.collection_active == true ? "selected" : ""))>True</option>
                                                <option value="false" @(item.collection_active == false ? "selected" : ""))>False</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Tên shop</label>
                                            <select name="seller_id" disabled>
                                                <option>@sesse.seller_nameshop</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="three fields">
                                        <div class="field">
                                            <label>Ảnh 1</label>
                                            <input name="collection_image1a" type="file" value="@item.collection_image1" />
                                        </div>
                                        <div class="field">
                                            <label>Ảnh 2</label>
                                            <input name="collection_image2a" type="file" value="@item.collection_image2" />
                                        </div>
                                        <div class="field">
                                            <label>Ảnh 3</label>
                                            <input name="collection_image3a" type="file" value="@item.collection_image3" />
                                        </div>
                                    </div>
                                    <div class="ui error message"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> ĐÓNG</button>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> SỬA</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--//Sửa Bộ Sưu Tập-->
                <!--Xem Bộ Sưu Tập-->
                <div class="modal fade" id="@col_detail@item.collection_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <svg id="Layer_1" enable-background="new 0 0 512 512" height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <g clip-rule="evenodd" fill-rule="evenodd">
                                                <path d="m231.249 311.163-29.961-29.962-63.073 63.042 29.991 29.963z" fill="#f5bc98" />
                                                <path d="m227.31 315.103-29.962-29.962-14.57 14.542 11.282 11.282c2.58 2.579 2.636 5.641 0 8.25l-40.422 40.422 14.57 14.57z" fill="#edaa80" />
                                                <path d="m454.566 57.856c-67.154-67.153-176.005-67.153-243.159 0s-67.154 176.034 0 243.159c67.154 67.154 176.005 67.154 243.159 0 67.153-67.125 67.153-176.006 0-243.159z" fill="#b1e4f9" />
                                                <path d="m454.566 57.856c-37.276-37.276-87.422-53.831-136.15-49.72 39.034 3.288 77.16 19.871 107.038 49.72 67.154 67.153 67.154 176.034 0 243.159-29.877 29.878-68.004 46.461-107.038 49.749 48.728 4.11 98.874-12.444 136.15-49.749 67.153-67.125 67.153-176.006 0-243.159z" fill="#90d8f9" />
                                                <path d="m173.054 369.359-29.962-29.962c-6.888-6.889-18.142-6.889-25.002 0l-104.997 104.996c-6.888 6.889-6.888 18.114 0 25.002l29.963 29.963c6.86 6.859 18.113 6.859 24.974 0l105.024-105.025c6.86-6.861 6.86-18.114 0-24.974z" fill="#d68756" />
                                                <path d="m173.054 369.359-29.962-29.962c-6.888-6.889-18.142-6.889-25.002 0l-2.069 2.069 27.893 27.893c6.889 6.86 6.889 18.113 0 24.973l-102.928 102.956 2.069 2.069c6.86 6.859 18.113 6.859 24.974 0l105.024-105.025c6.861-6.86 6.861-18.113.001-24.973z" fill="#c47443" />
                                                <path d="m141.815 425.57-54.963-54.936-42.521 42.521 54.936 54.964z" fill="#365e7d" />
                                                <path d="m332.986 108.058c56.637 0 104.628 30.444 121.41 72.625 4.535 11.424 4.563 12.813 0 24.237-16.753 42.18-64.773 72.653-121.41 72.653-56.608 0-104.6-30.416-121.381-72.568-4.564-11.452-4.592-12.841-.028-24.293 16.753-42.181 64.773-72.654 121.409-72.654z" fill="#f4fbff" />
                                                <path d="m332.986 108.058c56.637 0 104.628 30.444 121.41 72.625 4.535 11.424 4.563 12.813 0 24.237-16.753 42.18-64.773 72.653-121.41 72.653-4.932 0-9.779-.256-14.57-.681 50.203-4.706 91.589-33.449 106.868-71.972 4.535-11.424 4.535-12.813 0-24.237-15.307-38.495-56.665-67.21-106.868-71.916 4.791-.454 9.638-.709 14.57-.709z" fill="#e4f6ff" />
                                                <path d="m332.986 246.702c29.679 0 53.887-24.208 53.887-53.888 0-29.679-24.208-53.887-53.887-53.887s-53.887 24.208-53.887 53.887c.001 29.68 24.208 53.888 53.887 53.888z" fill="#95d6a4" />
                                                <path d="m332.986 138.928c29.765 0 53.887 24.123 53.887 53.887 0 29.765-24.122 53.888-53.887 53.888-5.045 0-9.921-.68-14.57-1.984 22.706-6.35 39.345-27.185 39.345-51.903s-16.639-45.525-39.345-51.903c4.649-1.277 9.525-1.985 14.57-1.985z" fill="#78c2a4" />
                                                <path d="m332.986 212.998c11.112 0 20.183-9.071 20.183-20.184 0-11.111-9.071-20.183-20.183-20.183-11.111 0-20.183 9.071-20.183 20.183 0 11.113 9.072 20.184 20.183 20.184z" fill="#365e7d" />
                                                <path d="m127.246 411.029-42.52 42.52 14.541 14.57 42.548-42.549z" fill="#2b4d66" />
                                            </g>
                                            <path d="m332.986 100.574c4.592 0 9.128.199 13.607.567l2.495-20.693c.482-4.11 4.195-7.058 8.305-6.576 4.11.51 7.059 4.224 6.577 8.334l-2.523 20.863c8.504 1.531 16.697 3.713 24.52 6.492l7.002-19.305c1.417-3.883 5.697-5.896 9.581-4.479 3.884 1.389 5.897 5.698 4.479 9.581l-7.228 19.928c6.435 3.062 12.529 6.548 18.255 10.403 1.19.822 2.353 1.644 3.515 2.494l11.169-17.093c2.239-3.458 6.86-4.451 10.346-2.183 3.459 2.239 4.423 6.86 2.183 10.347l-12.047 18.453c5.868 5.415 11.112 11.283 15.647 17.576l14.457-13.947c2.977-2.863 7.711-2.778 10.573.198 2.863 2.977 2.778 7.739-.198 10.602l-16.781 16.186c3.799 7.2 6.69 14.825 8.618 22.734.312 1.276.255 2.523-.057 3.714-6.407 26.164-23.557 49.012-47.424 65.169-23.216 15.704-52.838 25.115-85.069 25.115-32.202 0-61.824-9.412-85.04-25.115-23.954-16.186-41.131-39.119-47.509-65.368-.283-1.247-.255-2.523.057-3.686 1.928-7.852 4.819-15.42 8.561-22.564l-16.781-16.186c-2.977-2.863-3.062-7.625-.199-10.602 2.864-2.977 7.598-3.061 10.574-.198l14.457 13.947c4.535-6.293 9.779-12.161 15.647-17.576l-12.047-18.453c-2.239-3.487-1.247-8.107 2.211-10.347 3.459-2.268 8.079-1.275 10.318 2.183l11.169 17.093c1.162-.85 2.325-1.672 3.544-2.494 5.697-3.855 11.792-7.342 18.227-10.403l-7.229-19.928c-1.389-3.883.596-8.192 4.479-9.581 3.883-1.417 8.192.596 9.581 4.479l7.002 19.305c7.824-2.779 16.016-4.961 24.52-6.492l-2.495-20.863c-.482-4.11 2.438-7.824 6.548-8.334 4.11-.482 7.852 2.466 8.334 6.576l2.466 20.693c4.476-.367 9.011-.566 13.603-.566zm-251.435 264.759 31.238-31.238c4.904-4.904 11.339-7.37 17.802-7.37 4.025 0 8.022.964 11.679 2.863l45.157-45.156c-22.592-31.239-33.874-68.118-33.874-104.997 0-45.922 17.518-91.844 52.555-126.88 35.035-35.036 80.957-52.555 126.878-52.555 45.922 0 91.844 17.519 126.88 52.555 14.967 14.967 26.731 31.947 35.32 50.088 8.901 18.794 14.343 38.807 16.356 59.104.396 4.11-2.608 7.767-6.718 8.164-4.11.425-7.767-2.58-8.164-6.69-1.843-18.596-6.832-36.936-14.996-54.171-7.852-16.583-18.652-32.117-32.4-45.894-32.117-32.088-74.184-48.161-116.279-48.161s-84.161 16.073-116.278 48.161c-32.117 32.117-48.161 74.212-48.161 116.279 0 42.095 16.044 84.189 48.161 116.278 32.117 32.117 74.184 48.161 116.278 48.161 42.095 0 84.162-16.044 116.279-48.161 13.748-13.748 24.548-29.311 32.4-45.865 8.164-17.235 13.153-35.575 14.996-54.17.396-4.111 4.053-7.116 8.164-6.719 4.11.425 7.115 4.083 6.718 8.193-2.013 20.296-7.455 40.309-16.356 59.074-8.59 18.17-20.353 35.15-35.32 50.089-35.037 35.065-80.958 52.583-126.88 52.583-36.879 0-73.73-11.31-104.968-33.902l-45.185 45.157c1.927 3.656 2.863 7.682 2.863 11.707 0 6.435-2.438 12.897-7.342 17.801l-31.238 31.21c-24.604 24.605-49.182 49.182-73.786 73.787-4.904 4.904-11.339 7.342-17.802 7.342-6.434 0-12.897-2.438-17.773-7.342l-29.991-29.963c-4.875-4.904-7.342-11.367-7.342-17.801 0-6.435 2.466-12.898 7.342-17.802 24.605-24.576 49.181-49.182 73.787-73.759zm-26.618 47.822 44.335 44.362 31.947-31.947-44.362-44.335zm33.732 54.964-44.363-44.362-25.909 25.938c-1.984 1.984-2.976 4.592-2.976 7.2 0 2.607.992 5.215 2.976 7.2l29.963 29.963c1.956 1.956 4.564 2.948 7.171 2.948 2.636 0 5.244-.992 7.2-2.948zm8.788-97.485 44.362 44.335 25.938-25.938c1.956-1.956 2.948-4.564 2.948-7.171 0-2.636-.992-5.244-2.948-7.2l-29.962-29.962c-1.984-1.984-4.592-2.977-7.2-2.977s-5.216.992-7.2 2.977zm118.319-54.624-9.666-9.694-9.695-9.666-42.718 42.747 19.36 19.36zm117.214-150.862c7.654 0 14.57 3.09 19.587 8.107 4.989 4.989 8.107 11.905 8.107 19.559s-3.118 14.571-8.107 19.56c-5.017 5.017-11.934 8.107-19.587 8.107-7.625 0-14.57-3.09-19.559-8.107-5.017-4.989-8.107-11.906-8.107-19.56 0-7.653 3.09-14.57 8.107-19.559 4.989-5.017 11.934-8.107 19.559-8.107zm8.958 18.709c-2.296-2.296-5.442-3.713-8.957-3.713-3.486 0-6.661 1.417-8.957 3.713s-3.714 5.471-3.714 8.957c0 3.516 1.418 6.662 3.714 8.958s5.471 3.713 8.957 3.713c3.515 0 6.662-1.417 8.957-3.713 2.296-2.296 3.713-5.443 3.713-8.958 0-3.486-1.417-6.661-3.713-8.957zm-53.065-5.499c-1.275 3.94-5.499 6.066-9.411 4.791-3.941-1.275-6.095-5.499-4.819-9.411 4.083-12.444 12.02-23.13 22.366-30.643 10.12-7.342 22.564-11.65 35.972-11.65 16.951 0 32.287 6.86 43.399 17.972s18 26.447 18 43.398c0 16.952-6.888 32.288-18 43.399-11.112 11.112-26.448 18-43.399 18-13.408 0-25.852-4.337-35.972-11.65-10.346-7.512-18.283-18.199-22.366-30.643-1.275-3.94.879-8.164 4.819-9.439 3.912-1.276 8.136.878 9.411 4.791 3.09 9.383 9.071 17.461 16.923 23.159 7.625 5.528 17.037 8.759 27.185 8.759 12.813 0 24.406-5.188 32.797-13.579 8.391-8.39 13.578-19.984 13.578-32.797s-5.188-24.406-13.578-32.797c-8.391-8.39-19.984-13.578-32.797-13.578-10.148 0-19.559 3.26-27.185 8.788-7.852 5.668-13.833 13.748-16.923 23.13zm120.786-40.224c-20.835-14.117-47.538-22.564-76.678-22.564-29.141 0-55.843 8.447-76.678 22.564-20.353 13.777-35.094 32.911-40.876 54.681 5.783 21.799 20.523 40.934 40.876 54.71 20.835 14.088 47.537 22.535 76.678 22.535s55.843-8.447 76.678-22.535c20.381-13.776 35.093-32.911 40.876-54.71-5.783-21.77-20.495-40.904-40.876-54.681z" />
                                        </g>
                                    </svg> &nbsp;CHI TIẾT BỘ SƯU TẬP
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("Details", "Collections", FormMethod.Post, new { @class = "ui form segment", @enctype = "multipart/form-data" }))
                                {
                                    <form method="post" class="mb-4 ui form">
                                        <input type="hidden" value="@item.collection_id" name="collection_id" />
                                        <div class="field">
                                            <label>Tên bô sưu tập</label>
                                            <input type="text" name="collection_name" value="@item.collection_name" disabled />
                                        </div>
                                        <div class="three fields">
                                            <div class="field">
                                                <label>Ngày tạo</label>
                                                <input type="text" name="collection_datecreated" value="@item.collection_datecreate" disabled/>
                                            </div>
                                            <div class="field">
                                                <label>Hoạt động</label>
                                                <select name="collection_active" value="@item.collection_active" disabled>
                                                    <option>True</option>
                                                    <option>False</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <label>Tên shop</label>
                                                <select name="seller_id" disabled>
                                                    <option>@sesse.seller_nameshop</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="three fields">
                                            <div class="field">
                                                <label>Ảnh 1</label>
                                                <img src="~/Content/Layout/images/@item.collection_image1" height="90" width="100" />
                                            </div>
                                            <div class="field">
                                                <label>Ảnh 2</label>
                                                <img src="~/Content/Layout/images/@item.collection_image2" height="90" width="100" />
                                            </div>
                                            <div class="field">
                                                <label>Ảnh 3</label>
                                                <img src="~/Content/Layout/images/@item.collection_image3" height="90" width="100" />
                                            </div>
                                        </div>
                                        <div class="ui error message"></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> ĐÓNG</button>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--//Xem Bộ Sưu Tập-->
                <!--Xóa Bộ Sưu Tập-->
                <div class="modal fade" id="@col_delete@item.collection_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <svg id="Capa_1" enable-background="new 0 0 512 512" height="20" viewBox="0 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="m91.373 62.847-7.362 94.653h343.979l-7.362-94.653c-2.43-31.238-28.487-55.347-59.82-55.347h-209.616c-31.333 0-57.39 24.109-59.819 55.347z" fill="#92dd7a" />
                                                </g>
                                            </g>
                                            <g><g><path d="m256 127.5c-11.046 0-20-8.954-20-20s8.954-20 20-20v-80h-104.808c-31.333 0-57.39 24.109-59.819 55.347l-7.362 94.653h171.989z" fill="#7ec66a" /></g></g>
                                            <g><g><path d="m407.259 424.025 20.73-266.525h-343.978l20.73 266.525 151.259 40.238z" fill="#92dd7a" /></g></g>
                                            <g><g><path d="m422.545 227.5 5.444-70h-343.978l20.73 266.525 56.234 14.96-16.449-211.485z" fill="#7ec66a" /></g></g>
                                            <g><g><path d="m426 187.5h-340c-16.569 0-30-13.431-30-30 0-16.569 13.431-30 30-30h340c16.569 0 30 13.431 30 30 0 16.569-13.431 30-30 30z" fill="#b1ef97" /></g></g>
                                            <g><g><path d="m191.128 157.5c0-16.569 13.431-30 30-30h-135.128c-16.569 0-30 13.431-30 30s13.431 30 30 30h135.128c-16.569 0-30-13.431-30-30z" fill="#92dd7a" /></g></g>
                                            <g><g><path d="m353.919 59.826 4.07-52.326h-203.978l4.07 52.326c1.215 15.619 14.243 27.674 29.91 27.674h136.02c15.665 0 28.694-12.055 29.908-27.674z" fill="#67b758" /></g></g>
                                            <g><g><path d="m104.741 424.025 1.954 25.127c2.43 31.238 28.487 55.347 59.819 55.347h178.971c31.333 0 57.39-24.109 59.819-55.347l1.954-25.127z" fill="#7ec66a" /></g></g>
                                            <g><g><path d="m106.695 449.153c2.43 31.238 28.487 55.347 59.819 55.347h55.071c-31.333 0-57.39-24.109-59.819-55.347l-1.954-25.127h-55.071z" fill="#67b758" /></g></g>
                                            <g>
                                                <g><g><path d="m193.551 57.428c-4.142 0-7.5-3.358-7.5-7.5v-12c0-4.142 3.358-7.5 7.5-7.5s7.5 3.358 7.5 7.5v12c0 4.142-3.358 7.5-7.5 7.5z" /></g></g>
                                                <g><g><path d="m318.449 57.428c-4.142 0-7.5-3.358-7.5-7.5v-12c0-4.142 3.358-7.5 7.5-7.5s7.5 3.358 7.5 7.5v12c0 4.142-3.358 7.5-7.5 7.5z" /></g></g>
                                                <g><g><path d="m256 64.572c-8.477 0-16.539-3.671-22.118-10.073-2.722-3.123-2.396-7.86.726-10.582s7.859-2.397 10.582.726c2.73 3.132 6.67 4.928 10.811 4.928s8.081-1.796 10.811-4.928c2.721-3.124 7.459-3.448 10.582-.726s3.448 7.459.726 10.582c-5.581 6.401-13.643 10.073-22.12 10.073z" /></g></g>
                                            </g>
                                            <g>
                                                <g><path d="m463.5 157.5c0-18.41-13.339-33.753-30.858-36.899l-4.537-58.335c-1.322-16.997-8.942-32.733-21.455-44.312-12.514-11.578-28.794-17.954-45.842-17.954h-209.616c-17.048 0-33.328 6.376-45.842 17.954s-20.133 27.315-21.455 44.312l-4.537 58.335c-17.519 3.146-30.858 18.489-30.858 36.899s13.339 33.753 30.858 36.899l11.902 153.03c.306 3.932 3.591 6.919 7.469 6.919.195 0 .392-.008.59-.023 4.13-.321 7.217-3.93 6.896-8.059l-11.765-151.266h323.1l-17.23 221.525h-288.64l-3.133-40.287c-.322-4.13-3.937-7.214-8.059-6.896-4.13.321-7.217 3.93-6.896 8.059l5.626 72.333c1.322 16.997 8.942 32.733 21.455 44.312 12.514 11.578 28.794 17.954 45.842 17.954h178.971c17.048 0 33.328-6.376 45.842-17.954 12.513-11.578 20.133-27.315 21.455-44.312l19.86-255.335c17.518-3.146 30.857-18.489 30.857-36.899zm-316.415-142.324 3.518 45.231c1.509 19.398 17.931 34.593 37.387 34.593h87.884c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-87.884c-11.674 0-21.527-9.117-22.432-20.755l-3.441-44.245h187.766l-3.441 44.245c-.905 11.638-10.758 20.755-22.432 20.755h-18.136c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h18.136c19.456 0 35.878-15.195 37.387-34.592l3.518-45.231c25.407 2.011 46.23 22.474 48.235 48.252l4.4 56.571h-323.1l4.4-56.571c2.005-25.779 22.828-46.241 48.235-48.253zm198.4 481.824h-178.97c-27.238 0-50.229-21.272-52.342-48.429l-1.326-17.046h286.306l-1.326 17.046c-2.112 27.157-25.103 48.429-52.342 48.429zm80.515-317h-340c-12.407 0-22.5-10.093-22.5-22.5s10.093-22.5 22.5-22.5h340c12.407 0 22.5 10.093 22.5 22.5s-10.093 22.5-22.5 22.5z" /></g>
                                                <g><path d="m300.931 247.234c-4.116-.463-7.83 2.493-8.296 6.609l-.717 6.334-11.654-20.186c-4.971-8.61-13.874-13.75-23.815-13.75-9.942 0-18.845 5.14-23.816 13.75l-12.972 22.468c-2.071 3.587-.842 8.174 2.745 10.245 3.586 2.072 8.173.841 10.245-2.745l12.972-22.468c2.26-3.914 6.307-6.25 10.826-6.25s8.565 2.336 10.825 6.25l11.654 20.186-5.845-2.547c-3.797-1.656-8.217.083-9.871 3.88-1.655 3.797.083 8.217 3.88 9.871l26.722 11.643c.958.417 1.978.625 2.995.625 1.299 0 2.595-.337 3.75-1.005 2.061-1.19 3.435-3.287 3.703-5.652l3.278-28.963c.466-4.114-2.493-7.829-6.609-8.295z" fill="#fff" /></g>
                                                <g><path d="m330.333 354.212c4.971-8.61 4.971-18.89 0-27.5l-12.972-22.469c-2.071-3.588-6.657-4.817-10.245-2.745-3.587 2.071-4.816 6.658-2.745 10.245l12.972 22.469c2.259 3.914 2.26 8.586 0 12.5-2.259 3.914-6.306 6.25-10.825 6.25h-23.309l5.128-3.789c3.332-2.461 4.037-7.157 1.576-10.489-2.461-3.333-7.159-4.038-10.489-1.576l-23.444 17.321c-1.914 1.414-3.043 3.652-3.043 6.032s1.129 4.618 3.043 6.032l23.444 17.32c1.341.991 2.902 1.468 4.451 1.468 2.298 0 4.567-1.053 6.038-3.044 2.461-3.332 1.756-8.027-1.576-10.489l-5.127-3.788h23.309c9.939.003 18.842-5.137 23.814-13.748z" fill="#fff" /></g>
                                                <g><path d="m215.926 284.059c-2.06-1.189-4.564-1.331-6.746-.38l-26.722 11.643c-3.797 1.654-5.535 6.074-3.88 9.871 1.655 3.798 6.076 5.537 9.871 3.88l5.845-2.547-11.655 20.187c-4.971 8.609-4.971 18.89 0 27.5s13.874 13.75 23.816 13.75h25.944c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-25.944c-4.519 0-8.566-2.336-10.825-6.25-2.26-3.914-2.26-8.586 0-12.5l11.654-20.186.717 6.334c.434 3.83 3.679 6.658 7.443 6.657.282 0 .566-.016.853-.048 4.116-.466 7.075-4.18 6.609-8.296l-3.278-28.964c-.267-2.364-1.641-4.461-3.702-5.651z" fill="#fff" /></g>
                                            </g>
                                        </g>
                                    </svg> &nbsp;XÓA BỘ SƯU TẬP
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("Delete", "Collections", FormMethod.Post, new { @class = "ui form segment", @enctype = "multipart/form-data" }))
                                {
                                    <form method="post" class="mb-4 ui form">
                                        <input type="hidden" value="@item.collection_id" name="collection_id" />
                                        <div class="field">
                                            <label>Tên bô sưu tập</label>
                                            <input type="text" name="collection_name" value="@item.collection_name" disabled />
                                        </div>
                                        <div class="three fields">
                                            <div class="field">
                                                <label>Ngày tạo</label>
                                                <input type="text" name="collection_datecreated" value="@item.collection_datecreate" disabled/>
                                            </div>
                                            <div class="field">
                                                <label>Hoạt động</label>
                                                <div class="field">
                                                    <select name="collection_active" value="@item.collection_active" disabled>
                                                        <option>True</option>
                                                        <option>False</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>Tên shop</label>
                                                <select name="seller_id" disabled>
                                                    <option>@sesse.seller_nameshop</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="three fields">
                                            <div class="field">
                                                <label>Ảnh 1</label>
                                                <img src="~/Content/Layout/images/@item.collection_image1" height="90" width="100" />
                                            </div>
                                            <div class="field">
                                                <label>Ảnh 2</label>
                                                <img src="~/Content/Layout/images/@item.collection_image2" height="90" width="100" />
                                            </div>
                                            <div class="field">
                                                <label>Ảnh 3</label>
                                                <img src="~/Content/Layout/images/@item.collection_image3" height="90" width="100" />
                                            </div>
                                        </div>
                                        <div class="ui error message"></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> ĐÓNG</button>
                                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> XÓA</button>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!--//Xóa Bộ Sưu Tập-->
            </td>
        </tr>
    }
</table>
