@model IEnumerable<Website_GSshop.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SellerManagement/Views/Shared/_LayoutSeller.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comment_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commet_datecreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seller_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_spam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_bin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commet_datecreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seller_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_spam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_bin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.comment_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.comment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.comment_id })
        </td>
    </tr>
}

</table>
