@model IEnumerable<Website_GSshop.Models.Bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bill_datecreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_dateset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller.seller_pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bill_datecreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_sum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_dateset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bill_note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.seller_pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bill_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.bill_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bill_id })
        </td>
    </tr>
}

</table>
