@model Website_GSshop.Models.GSMall

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GSMall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gsmall_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gsmall_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gsmall_slogan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gsmall_slogan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gsmall_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gsmall_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gsmall_datecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gsmall_datecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gsmall_bg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gsmall_bg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gsmall_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gsmall_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.product_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gsmall_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
