@model Website_GSshop.Models.Favourite

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Favourite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fa_likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fa_likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fa_datereated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fa_datereated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fa_bin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fa_bin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.user_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.user_pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fa_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
