@model IEnumerable<Website_GSshop.Models.Favourite>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fa_likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fa_datereated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fa_bin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fa_likes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fa_datereated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fa_bin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.fa_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.fa_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fa_id })
        </td>
    </tr>
}

</table>
