@model Website_GSshop.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commet_datecreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commet_datecreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seller_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment_spam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_spam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.comment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
