@model Website_GSshop.Models.ClassificationSubCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClassificationSubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.csc_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.csc_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.csc_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.csc_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.csc_datecreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.csc_datecreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.csc_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.csc_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.subcategory_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.subcategory_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.csc_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
