@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="section section-components">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <!-- Tabs with icons -->
                <div class="nav-wrapper">
                    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0 @(Session["testsignup"] == null ? "active" : "")" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fa fa-sign-in mr-2"></i>ĐĂNG NHẬP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0 @(Session["testsignup"] == null ? "" : "active")" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fa fa-user-plus mr-2"></i>ĐĂNG KÝ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-key mr-2"></i>QUÊN MẬT KHẨU</a>
                        </li>
                    </ul>
                </div>
                <div class="card shadow">
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show @(Session["testsignup"] == null ? "active" : "")" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                <div class="modal-body modal-body-sub_agile">
                                    <div class="main-mailposi">
                                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                    </div>
                                    <div class="modal_body_left modal_body_left1">
                                        <center>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3>Chào mừng đến với GS Shop. Đăng nhập ngay!</h3>
                                                </div>
                                                <div class="col-md-6">
                                                    Thành viên mới?<a href="/Account/Login"> Đăng ký</a> tại đây.
                                                </div>
                                            </div>
                                        </center>
                                        <br />
                                        <script>
                                            function validateForm() {
                                                // Bước 1: Lấy giá trị của username và password
                                                var user_email = document.getElementById('user_email').value;
                                                var user_pass = document.getElementById('user_pass').value;
                                                // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
                                                if (user_email == '' && user_pass == '') {
                                                    document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i> Bạn chưa nhập email và mật khẩu.</b></div>"
                                                }
                                                else if (user_pass == '') {
                                                    document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i > Bạn chưa nhập mật khẩu.</b></div>"
                                                }
                                                else if (user_email == '') {
                                                    document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i> Bạn chưa nhập email.</b></div>"
                                                }
                                                else {
                                                    return true;
                                                }
                                                return false;
                                            }
                                        </script>
                                        <form role="form" method="post" action="@Url.Action("Login","Account")" onsubmit="return validateForm()">
                                            <div class="col-md-12" style="background-color: #f1f1f1">
                                                <br />
                                                <div class="col-md-6">
                                                    <div class="styled-input agile-styled-input-top">
                                                        <input type="text" placeholder="Email" id="user_email" name="user_email">
                                                    </div>
                                                    <div class="styled-input">
                                                        <input type="password" placeholder="Mật khẩu" id="user_pass" name="user_pass">
                                                        <br />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input type="checkbox" /> Ghi nhớ
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <a href="#" style="font-size: 13px">
                                                                Quên Mật Khẩu?
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    @Html.Raw(Session["testlogin"])
                                                    <div id="testlogin"></div>
                                                    <center><input type="submit" onclick="xuly()" value="ĐĂNG NHẬP"></center>
                                                    <br />
                                                </div>
                                                <br />
                                                <div class="col-md-1">
                                                    <div class="hr-sect">Hoặc</div>                                                    
                                                </div>
                                                <div class="col-md-5">
                                                    <center>
                                                        <button class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Đăng nhập bằng tài khoản Facebook</button>
                                                        <br />
                                                        <br />
                                                        <button class="btn btn-danger"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;Đăng nhập bằng tài khoản Google</button>
                                                        <br />
                                                        <br />
                                                    </center>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                               </div>                                                             
                            </div>
                            <div class="tab-pane fade @(Session["testsignup"] == null ? "" : "active")" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                <div class="modal-body modal-body-sub_agile">
                                    <div class="main-mailposi">
                                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                    </div>
                                    <div class="modal_body_left modal_body_left1">
                                        <h3>Chào mừng đến với GS Shop. Đăng ký ngay!</h3>
                                        <br />
                                        <script>
                                            function valiSignUp() {
                                                // Bước 1: Lấy giá trị của username và password
                                                var user_email = document.getElementById('user_emailres').value;
                                                var user_pass = document.getElementById('user_passres').value;
                                                var user_repeat = document.getElementById('user_repeat').value;
                                                // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
                                                if (user_email == '' && user_pass == '') {
                                                    document.getElementById("testsignup").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i> Bạn chưa nhập email và mật khẩu.</b></div>"
                                                }
                                                else if (user_pass == '') {
                                                    document.getElementById("testsignup").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i > Bạn chưa nhập mật khẩu.</b></div>"
                                                }
                                                else if (user_email == '') {
                                                    document.getElementById("testsignup").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i> Bạn chưa nhập email.</b></div>"
                                                }
                                                else if (user_pass != user_repeat)
                                                {
                                                    document.getElementById("testsignup").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i> Mật khẩu nhập lại chưa đúng.</b></div>"
                                                }
                                                else {
                                                    return true;
                                                }
                                                return false;
                                            }
                                        </script>
                                        <form role="form" method="post" action="@Url.Action("SignUp","Account")" onsubmit="return valiSignUp()">
                                            <div class="col-md-12" style="background-color: #f1f1f1">
                                                <br />
                                                <div class="col-md-6">
                                                    <div class="styled-input agile-styled-input-top">
                                                        <input type="text" placeholder="Email" id="user_emailres" name="user_email">
                                                    </div>
                                                    <div class="styled-input">
                                                        <input type="password" placeholder="Mật khẩu" id="user_passres" name="user_pass">
                                                        <br />
                                                    </div>
                                                    <div class="styled-input">
                                                        <input type="password" placeholder="Nhập lại mật khẩu" id="user_repeat" name="user_repeat">
                                                        <br />
                                                    </div>
                                                    <br />
                                                    @Html.Raw(Session["testsignup"])
                                                    <div id="testsignup"></div>
                                                    <center><input type="submit" onclick="xuly()" value="ĐĂNG KÝ"></center>
                                                    <br />
                                                </div>
                                                <br />
                                                <div class="col-md-1">
                                                    <div class="hr-sect">Hoặc</div>
                                                </div>
                                                <div class="col-md-5">
                                                    <center>
                                                        <button class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Đăng nhập bằng tài khoản Facebook</button>
                                                        <br />
                                                        <br />
                                                        <button class="btn btn-danger"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;Đăng nhập bằng tài khoản Google</button>
                                                        <br />
                                                        <br />
                                                    </center>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                <div class="modal-body modal-body-sub_agile">
                                    <div class="main-mailposi">
                                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                    </div>
                                    <div class="modal_body_left modal_body_left1">
                                        <h3 class="alert-danger w-50">Nhập email/gmail để thay đổi mật khẩu.</h3>
                                        <br />
                                        <script>
                                            function validateForm() {
                                                // Bước 1: Lấy giá trị của username và password
                                                var user_email = document.getElementById('user_email').value;
                                                var user_pass = document.getElementById('user_pass').value;
                                                // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
                                                if (user_email == '' && user_pass == '') {
                                                    document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i> Bạn chưa nhập email và mật khẩu.</b></div>"
                                                }
                                                else if (user_pass == '') {
                                                    document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i > Bạn chưa nhập mật khẩu.</b></div>"
                                                }
                                                else if (user_email == '') {
                                                    document.getElementById("testlogin").innerHTML = "<div class='alert alert-danger'><b class='text-danger'><i class='fa fa-times-circle' style='color: red'>&nbsp;</i> Bạn chưa nhập email.</b></div>"
                                                }
                                                else {
                                                    return true;
                                                }
                                                return false;
                                            }
                                        </script>
                                        <form role="form" method="post" action="@Url.Action("Login","Account")" onsubmit="return validateForm()">
                                            <div class="col-md-12" style="background-color: #f1f1f1">
                                                <br />
                                                <div class="col-md-4">
                                                    <center>
                                                        <i class="fa fa-lock" style="font-size: 110px"></i>
                                                    </center>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="styled-input agile-styled-input-top">
                                                        <input type="text" placeholder="Nhập email/gmail đã đăng ký" id="user_email" name="user_email">
                                                    </div>
                                                    <br />
                                                    @Html.Raw(Session["testlogin"])
                                                    <div id="testlogin"></div>
                                                    <center><input type="submit" onclick="xuly()" value="GỬI"></center>
                                                    <br />
                                                </div>
                                                <br />
                                            </div>
                                        </form>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />