@using Website_GSshop.Models
@model List<Product>
@{
    User sesus = (User)Session["user"];
    Data_GSShopEntities db = new Data_GSShopEntities();
}
@{ 
    List<Favourite> fa = db.Favourite.ToList();
}
<div class="container-fluid">
    <h2 class="article-list__heading"><img src="~/Content/Layout/images/icons8-fire-48.png" width="40" /><a href="#">Deal Chớp Nhoáng</a></h2>
</div>
<div class="container-fluid">
    <div class="layout">
        <div class="container-fluid">
            <div class="row" style="background-color: ghostwhite; border-radius: 16px">
                <div class="col-md-1 mt-4">
                    <span style="color: #fe5e09" class="float-left">Đang bán</span>
                </div>
                <div class="col-md-6">
                    <div class="row p-3">
                        <span class="float-left">
                            <span>Kết thúc trong&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <script>
                                // The data/time we want to countdown to
                                var countDownDate = new Date("Jul 25, 2021 16:37:52").getTime();
                                // Run myfunc every second
                                var myfunc = setInterval(function () {
                                    var now = new Date().getTime();
                                    var timeleft = countDownDate - now;
                                    // Calculating the days, hours, minutes and seconds left
                                    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                                    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
                                    // Result is output to the specific element
                                    document.getElementById("hours").innerHTML = hours
                                    document.getElementById("mins").innerHTML = minutes
                                    document.getElementById("secs").innerHTML = seconds
                                    // Display the message when countdown is over
                                    if (timeleft < 0) {
                                        clearInterval(myfunc);
                                        document.getElementById("hours").innerHTML = ""
                                        document.getElementById("mins").innerHTML = ""
                                        document.getElementById("secs").innerHTML = ""
                                        document.getElementById("end").innerHTML = "TIME UP!!";
                                    }
                                }, 1000);
                            </script>
                            <span class="badge badge-danger p-3" id="hours"></span>
                            :
                            <span class="badge badge-danger p-3" id="mins"></span>
                            :
                            <span class="badge badge-danger p-3" id="secs"></span>
                            <b id="end"></b>
                        </span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-jfy-load-more J_LoadMore float-right">
                        <a class="button1 J_LoadMoreButton text-info"><span style="color: #fe5e09">MUA SẮM TOÀN BỘ SẢN PHẨM</span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container-fluid mt-3" style="background-color: #f9f9f9">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-2">
                        <div class="card-1">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center time"><small><span class="product-new-label1"><b class="test">- @item.product_percent%</b></span></small> </div>
                                @if (sesus != null)
                                {
                                    // Đếm yêu thích
                                    var pc = fa.Where(n => n.product_id == item.product_id && n.fa_bin == false && n.user_id == sesus.user_id).ToList();
                                    ViewBag.pc = pc.Count;
                                    if (ViewBag.pc != 0)
                                    {
                                        foreach (var item1 in fa.Where(n => n.product_id == item.product_id && n.fa_bin == false && n.user_id == sesus.user_id))
                                        {
                                            <a href="@Url.Action("FavouriteIndexDelete","Favourite",new {id = item1.fa_id})" class="pr-3 row justify-content-end">
                                                <div class="fa fa-heart-o like bg-success"></div>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <div class="pr-3 row justify-content-end">
                                            <div class="fa fa-heart-o like"></div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="pr-3 row justify-content-end">
                                        <div class="fa fa-heart-o like"></div>
                                    </div>
                                }
                            </div>
                            <div class="text-center mt-2">
                                <img src="~/Content/Layout/images/@item.product_image" width="250" />
                            </div>
                            <a href="@Url.Action("FlashSaleDetail","View", new {@id = item.product_id})" class="text-left text-dark"><h5 class="text-left mt-2 p-0">@item.product_name</h5></a>
                            @{
                                float sale = ((float)item.product_price * (1 - ((float)item.product_percent / 100)));
                            }
                            <span class="text-success"> @sale.ToString("#,##0") đ</span>
                            <br />
                            <s class="text-gray">@{float price = (float)item.product_price;} @price.ToString("#,##0") ₫</s>
                            <a href="@Url.Action("FlashSaleDetail","View", new {@id = item.product_id})">
                                <div class="mt-1 button_voucher">
                                    <span class="text font-button text-uppercase">Mua Ngay</span>
                                </div>
                            </a>
                        </div>
                        <br />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    /* Demo purposes only */
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );
    diff = 100000000;
    function showTimer() {
        hours = Math.floor(diff / (1000 * 60 * 60));
        mins = Math.floor(diff / (1000 * 60));
        secs = Math.floor(diff / 1000);
        $('.count').html(hours + 'hours' + minutes + 'minutes' + seconds + ' seconds');
    }
    setInterval(function () { showTimer() }, 1000);
</script>
<br />
<br />
