@using Website_GSshop.Models;
@model Product
@{
    ViewBag.Title = "CategoryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Data_GSShopEntities db = new Data_GSShopEntities();
}
@{ 
    List<Product> pr = db.Product.ToList();
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="container-fluid">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #fff">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Voucher & Dịch vụ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lazada Gift Cards</li>
        </ol>
    </nav>
    <hr />
    <div data-spm="card" data-spm-max-idx="7"><div class="c3AZOx"><a href="/son-thoi/3ce/?spm=a2o4n.searchlistcategory.card.1.4fc337469WdpuP&amp;&amp;from=onesearch_category_4640" class="cVzttM" data-spm-anchor-id="a2o4n.searchlistcategory.card.1" style="width: 14.28%;"><div class="c1zjMN" data-spm-anchor-id="a2o4n.searchlistcategory.card.i0.4fc337469WdpuP"><img src="//vn-live-02.slatic.net/original/3KniJQ6YQyNAp3UW6ggYsoCtWjk9FyjUUC.jpg" class="c36f5Z"><div class="c1DxTe"></div></div></a><a href="/son-thoi/vibely-123315462/?spm=a2o4n.searchlistcategory.card.2.4fc337469WdpuP&amp;&amp;from=onesearch_category_4640" class="cVzttM" data-spm-anchor-id="a2o4n.searchlistcategory.card.2" style="width: 14.28%;"><div class="c1zjMN"><img src="//vn-test-11.slatic.net/p/7be5bc23eda8c98015d8f836694aa84d.png" class="c36f5Z"><div class="c1DxTe"></div></div></a><a href="/son-thoi/maybelline/?spm=a2o4n.searchlistcategory.card.3.4fc337469WdpuP&amp;&amp;from=onesearch_category_4640" class="cVzttM" data-spm-anchor-id="a2o4n.searchlistcategory.card.3" style="width: 14.28%;"><div class="c1zjMN"><img src="//vn-live-01.slatic.net/original/e796447ee8bbd82d0c36435579033520.jpg" class="c36f5Z"><div class="c1DxTe"></div></div></a><a href="/son-thoi/innisfree/?spm=a2o4n.searchlistcategory.card.4.4fc337469WdpuP&amp;&amp;from=onesearch_category_4640" class="cVzttM" data-spm-anchor-id="a2o4n.searchlistcategory.card.4" style="width: 14.28%;"><div class="c1zjMN"><img src="//vn-live-02.slatic.net/original/d5c52353be057825f65982aafee5f3ab.jpg" class="c36f5Z"><div class="c1DxTe"></div></div></a><a href="/son-thoi/kiss-beauty/?spm=a2o4n.searchlistcategory.card.5.4fc337469WdpuP&amp;&amp;from=onesearch_category_4640" class="cVzttM" data-spm-anchor-id="a2o4n.searchlistcategory.card.5" style="width: 14.28%;"><div class="c1zjMN"><img src="//vn-test-11.slatic.net/p/mdc/4c234bed5c796bdee12d28b10b6be12f.jpg" class="c36f5Z"><div class="c1DxTe"></div></div></a><a href="/son-thoi/lameila/?spm=a2o4n.searchlistcategory.card.6.4fc337469WdpuP&amp;&amp;from=onesearch_category_4640" class="cVzttM" data-spm-anchor-id="a2o4n.searchlistcategory.card.6" style="width: 14.28%;"><div class="c1zjMN"><img src="//vn-test-11.slatic.net/p/mdc/d69d96109f669b2a993a61be22d92f64.jpg" class="c36f5Z"><div class="c1DxTe"></div></div></a><a href="/son-thoi/bourjois/?spm=a2o4n.searchlistcategory.card.7.4fc337469WdpuP&amp;&amp;from=onesearch_category_4640" class="cVzttM" data-spm-anchor-id="a2o4n.searchlistcategory.card.7" style="width: 14.28%;"><div class="c1zjMN"><img src="//vn-live-02.slatic.net/original/4d4973e1e95a622d5d1b96ef860bfe09.jpg" class="c36f5Z"><div class="c1DxTe"></div></div></a></div></div>
    <br />
    <!-- product left -->
    <div class="side-bar col-md-3">
        <div class="range">
            <h3 class="agileits-sear-head">Danh mục liên quan</h3>
            <h4 class="mt-3 text-left">Lazada Gift Cards</h4>
        </div>
        <div class="left-side">
            <h3 class="agileits-sear-head">Nhà cung cấp</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked" />
                    <span class="span">No Brand</span>
                </li>
            </ul>
        </div>
        <hr />
        <div class="left-side">
            <h3 class="agileits-sear-head">Dịch vụ</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked" />
                    <span class="span">Giao hàng miễn phí</span>
                </li>
            </ul>
        </div>
        <hr />
        <hr />
        <div class="left-side">
            <h3 class="agileits-sear-head">Giá</h3>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" placeholder="Tối thiểu" class="form-control" />
                </div>
                <div class="col-md-1 p-0">
                    <b style="font-size: 20px">-</b>
                </div>
                <div class="col-md-4 p-0">
                    <input type="text" placeholder="Tối đa" class="form-control" />
                </div>
                <div class="col-md-2">
                    <button class="caret_right"><i class="fa fa-caret-right text-white" style="font-size: 26px; text-align: center"></i></button>
                </div>
            </div>
        </div>
        <hr />
        <div class="customer-rev left-side">
            <h3 class="agileits-sear-head">Đánh giá</h3>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>Trở lên</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>Trở lên</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>Trở lên</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <span>Trở lên</span>
                    </a>
                </li>
            </ul>
        </div>
        <hr />
        <div class="left-side">
            <h3 class="agileits-sear-head">SMS hoặc Email</h3>
            <ul>
                <li>
                    <input type="checkbox" class="checked" />
                    <span class="span">Email</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- //product left -->
    <!-- product right -->
    <div class="agileinfo-ads-display col-md-9">
        <div class="row">
            <div class="col-md-5">
                <b class="mt-5">171551 mặt hàng được tìm thấy theo "Quạt Mini"</b>
            </div>
            <div class="col-md-7">
                <div class="col-md-2">
                    Sắp xếp theo:
                </div>
                <div class="col-md-4">
                    <select class="form-control-static">
                        <option>Phù hợp nhất</option>
                        <option>Giá từ thấp đến cao</option>
                        <option>Giá từ cao xuống thấp</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="@Url.Action("Table","Ajax")" class="text-dark" data-ajax="true" data-ajax-method="GET" data-ajax-update="#change" data-ajax-mode="replace" style="padding: 17px"><i class="fa fa-table" style="font-size: 25px"></i></a>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action("TableList","Ajax")" class="text-dark" data-ajax="true" data-ajax-method="GET" data-ajax-update="#change" data-ajax-mode="replace" data-loading-text="#divLoad" style="padding: 5px"><i class="fa fa-th-list" style="font-size: 25px"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="layout">
            <center>
                <div class="row" id="change">
                    @foreach (var item in pr)
                    {
                        <div class="col-md-3">
                            <div class="p-box">
                                <div class="p-top">
                                    <span class="label1 best-seller-label test mt-2 ml-2">Best seller</span>
                                    <i class="ic-dynamic-badge ic-dynamic-badge-freeShipping ic-dynamic-group-2 p-heart mt-2" style="background-image: url(&quot;//laz-img-cdn.alicdn.com/tfs/TB1QTkMXG67gK0jSZFHXXa9jVXa-45-28.png&quot;); width: 25.7143px; height: 16px;" data-spm-anchor-id="a2o4n.searchlistcategory.list.i36.58b95752VuSb8Z"></i>
                                </div>
                                <div class="text-center p-4">
                                    <img id="main-image" src="~/Content/Layout/images/@item.product_image" width="300" />
                                </div>
                                <div class="p-desc">
                                    <a href="@Url.Action("ProductDetail","View", new {@id = item.product_id})"><h3 class="p-category">@item.product_name</h3></a>
                                    <h5 class="text-danger">@{float price = (float)item.product_price;} @price.ToString("#,##0") ₫</h5>
                                    <h5><s>@{float pricesale = (float)item.product_sale;} @pricesale.ToString("#,##0") ₫</s> -10%</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="p-price">
                                            <div class="p-stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <small class="text-dark">(6)</small>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="pill1 text-right">&nbsp;&nbsp;&nbsp;&nbsp;<b>Việt Nam</b>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                </div>
            </center>
        </div>
    </div>
    <!-- //product right -->
    <nav aria-label="..." class="text-right">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link"><</span>
            </li>
            <li class="page-item active">
                <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">></a>
            </li>
        </ul>
    </nav>
</div>

