@using Website_GSshop.Models
@model Product
@{
    ViewBag.Title = "FlashSaleDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User sesus = (User)Session["user"];
    Data_GSShopEntities db = new Data_GSShopEntities();
    var bl = "bl";
}
@{ 
    List<Favourite> fa = db.Favourite.ToList();
    List<Favourite> pr = db.Favourite.Where(n => n.product_id == Model.product_id && n.fa_bin == false).ToList();
    List<Product> products = db.Product.ToList();
    List<Comment> cmt = db.Comment.Where(n => n.product_id == Model.product_id).ToList();
    List<ReplyComment> rep = db.ReplyComment.Where(n => n.product_id == Model.product_id).ToList();
    List<Like> like = db.Like.ToList();
}
<link href="~/Content/CSS/product_detail.css" rel="stylesheet" />
<link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
<div class="container-fluid" style="background-color: #f9f9f9">
    <div class="container-fluid mt-2 mb-3" style="background-color: #f9f9f9">
        <div class="row no-gutters">
            <div class="col-md-5 pr-2">
                <div class="card">
                    <div class="demo">
                        <ul id="lightSlider" class="ul_detail">
                            @foreach (var item in products.Where(n => n.product_related == Model.product_related))
                            {
                                <li data-thumb="/Content/Layout/images/@item.product_image" class="li_detail"> <img class="img_detail" src="~/Content/Layout/images/@item.product_image" /> </li>
                            }
                        </ul>
                    </div>
                </div>
                <!--Comment-->
                <div class="card mt-2">
                    <h6>Reviews</h6>
                    <div class="d-flex flex-row">
                        <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  <i class="fa fa-star-half-o"></i> </div> <span class="ml-1 font-weight-bold">4.6</span>
                    </div>
                    <hr>
                    <div class="badges"> <span class="badge bg-dark ">All (230)</span> <span class="badge bg-dark "> <i class="fa fa-comments-o"></i> 23 </span> <span class="badge bg-warning">  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="ml-1">2,123</span> </span> </div>
                    <hr>
                    @if (sesus != null)
                    {
                        <form action="@Url.Action("Comment","Comment")" method="post">
                            <textarea class="form-control" required name="comment_content"></textarea>
                            <br />
                            <center><input type="submit" value="Bình Luận" class="btn btn-success" /></center>
                        </form> 
                    }
                    else
                    {
                        <center><a href="/Account/Login" class="btn btn-danger">VUI LÒNG ĐĂNG NHẬP ĐỂ BÌNH LUẬN</a></center>}
                            <div class="comment-section">
                                @foreach (var item in cmt)
                                {
                                    <div class="d-flex justify-content-between align-items-center">
                                        @{
                                            var time1 = "vài giây trước";
                                            var tmp1 = DateTime.Now.Minute - item.commet_datecreated.Value.Minute;
                                            var tmp2 = DateTime.Now.Hour - item.commet_datecreated.Value.Hour;
                                            var tmp3 = DateTime.Now.Date - item.commet_datecreated.Value.Date;
                                            if (tmp1 > 0)
                                            {
                                                time1 = tmp1 + " phút trước";
                                            }
                                            else if (tmp1 > 60)
                                            {
                                                time1 = tmp2.ToString() + " giờ trước";
                                            }
                                        }
                                        <div class="d-flex flex-row align-items-center">
                                            <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle profile-image">
                                            <div class="d-flex flex-column ml-1 comment-profile mt-3">
                                                @if (sesus == null)
                                                {
                                                    <span class="username">123</span>
                                                }
                                                else
                                                {
                                                    <span class="username">@sesus.user_nicename</span>
                                                }
                                                <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                                <small class="mt-1 ml-1 font-weight-bold">@item.comment_content</small>
                                                <div class="mt-1 ml-1 row p-0">
                                                    <div class="col-md-6 p-0">
                                                        <form method="post" action="@Url.Action("Like","Like",new {id = Model.product_id})">
                                                            <input type="hidden" value="@item.comment_id" name="comment_id" />
                                                            @if (sesus != null)
                                                            {
                                                                if (ViewBag.CountLike == 0)
                                                                {
                                                                    <button style="border: none" class="bg-white"><i class="fa fa-thumbs-o-up"></i> @like.Count</button>
                                                                }
                                                                else
                                                                {
                                                                    foreach (var item2 in like.Where(n => n.product_id == Model.product_id && n.like_bin == true && n.comment_id == item.comment_id).ToList())
                                                                    {
                                                                        <form method="post" action="@Url.Action("LikeDelete", "Like", new { id = Model.product_id })">
                                                                            <input type="hidden" value="@item2.like_id" name="like_id" />
                                                                            <button type="submit" style="border: none" class="text-primary bg-white">
                                                                                <i class="fa fa-thumbs-o-up"></i> @like.Count
                                                                            </button>
                                                                        </form>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <button style="border: none" class="bg-white"><i class="fa fa-thumbs-o-up"></i> @like.Count</button>
                                                            }
                                                        </form>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="date"> <span class="text-muted">@time1</span> </div>
                                    </div>
                                    <!--Reply-->
                                    <div class="collapse" id="@bl@item.comment_id">
                                        @if (sesus != null)
                                        {
                                            <form action="@Url.Action("ReplyComment","ReplyComment", new {id = Model.product_id})" method="post" class="ml-4 mt-2">
                                                <input type="hidden" value="@item.comment_id" name="comment_id" />
                                                <textarea class="form-control" required name="replycomment_content"></textarea>
                                                <br />
                                                <center><input type="submit" value="TRẢ LỜI" class="btn btn-success" /></center>
                                            </form> 
                                        }
                                        else
                                        {
                                            <center><a href="/Account/Login" class="btn btn-danger">VUI LÒNG ĐĂNG NHẬP ĐỂ TRẢ LỜI BÌNH LUẬN</a></center>
                                        }
                                        @foreach (var item1 in rep)
                                        {       
                                            <div class="d-flex justify-content-between align-items-center ml-4">
                                                @{
                                                    var time = "vài giây trước";
                                                    var tmpr1 = DateTime.Now.Minute - item1.replycomment_datecreated.Value.Minute;
                                                    var tmpr2 = DateTime.Now.Hour - item1.replycomment_datecreated.Value.Hour;
                                                    var tmpr3 = DateTime.Now.Date - item1.replycomment_datecreated.Value.Date;
                                                    if (tmp1 > 0)
                                                    {
                                                        time = tmpr1 + " phút trước";
                                                    }
                                                    else if (tmpr1 > 60)
                                                    {
                                                        time = tmpr2.ToString() + " giờ trước";
                                                    }
                                                } 
                                                <div class="d-flex flex-row align-items-center">
                                                    <img src="https://i.imgur.com/tmdHXOY.jpg" class="rounded-circle profile-image">
                                                    <div class="d-flex flex-column ml-1 comment-profile mt-3">
                                                        <span class="username">@sesus.user_nicename</span>
                                                        <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                                        <small class="mt-1 ml-1 font-weight-bold">@item1.replycomment_content</small>
                                                        <small class="mt-1 ml-1"><span><i class="fa fa-thumbs-o-up"></i> 1</span></small>
                                                    </div>
                                                </div>
                                                <div class="date"> <span class="text-muted">@time</span> </div>
                                            </div>
                                         }
                                    </div>
                                    <!--//Reply-->
                                    <hr>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card"> 
                            <div class="d-flex flex-row align-items-center ml-1">
                        <div class="p-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <small class="ml-1">(5.0)</small>
                    </div>
                    <h3 class="font-weight-bold text-primary">@Model.product_name </h3>
                    <h4 class="font-weight-bold ml-1 text-left">@{float sale = (float)Model.product_sale;}@sale.ToString("#,##0") ₫&nbsp;&nbsp;&nbsp;&nbsp;<s>@{float price = (float)Model.product_price;}@price.ToString("#,##0") ₫</s></h4>
                    <div class="buttons row">
                        <button class="btn btn-warning btn-long buy">MUA NGAY</button>
                        <button class="btn btn-outline-warning btn-long cart" onclick="window.location.href='@Url.Action("CreateCart","Cart", new { id = Model.product_id })'">THÊM VÀO GIỎ</button>
                        <form method="post" action="@Url.Action("Favourite","Favourite",new {id = Model.product_id})">
                            @if (sesus != null)
                            {
                                if (ViewBag.CountProduct == 0)
                                {
                                    <button class="btn btn-light wishlist" type="submit"><i class="fa fa-heart font-weight-500"> @pr.Count</i></button>
                                }
                                else
                                {
                                    foreach (var item in fa.Where(n => n.user_id == sesus.user_id && n.product_id == Model.product_id && n.fa_bin == false))
                                    {
                                        <a href="@Url.Action("FavouriteDelete","Favourite",new {id = item.fa_id})" class="btn btn-light wishlist1"> <i class="fa fa-heart mt-2"></i> @pr.Count</a>
                                    }
                                }
                            }
                            else
                            {
                                <button class="btn btn-light wishlist"> <i class="fa fa-heart"> @pr.Count</i> </button>
                            }
                        </form>
                    </div>
                    <hr>
                    <div class="product-description">
                        <span class="font-weight-bold">Màu sắc:</span>
                        <div class="my-color">
                            <label class="radio"> <input type="radio" name="gender" value="MALE" checked> <span class="red"></span> </label>
                            <label class="radio"> <input type="radio" name="gender" value="FEMALE"> <span class="blue"></span> </label>
                            <label class="radio"> <input type="radio" name="gender" value="FEMALE"> <span class="green"></span> </label>
                            <label class="radio"> <input type="radio" name="gender" value="FEMALE"> <span class="orange"></span> </label>
                        </div>
                        <div class="d-flex flex-row align-items-center"> <i class="fa fa-motorcycle"></i> @if (Model.product_ship == true) {<span class="ml-1">Free ship</span>} else {<span class="ml-1">Tính phí</span>} </div>
                        <div class="mt-2">
                            <span class="font-weight-bold">Mô tả sản phẩm</span>
                            <br />
                            <span class="text-gray">@Model.product_description</span>
                            <div class="bullets">
                                <div class="d-flex align-items-center"> <span class="dot"></span> <span class="bullet-text">@Model.product_note</span> </div>  
                            </div>
                        </div>
                        <div class="mt-2"> <span class="font-weight-bold">Store</span> </div>
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://i.imgur.com/N2fYgvD.png" class="rounded-circle store-image">
                            <div class="d-flex flex-column ml-1 comment-profile">
                                <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> </div> <span class="username">Rare Boutique</span> <small class="followers">25K Followers</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//Comment-->
                <div class="card mt-2">
                    <span>Sản phẩm liên quan:</span>
                    <div class="similar-products mt-2 d-flex flex-row">
                        @foreach (var item in products.Where(n => n.product_id >= 2).Take(5))
                        {
                            <div class="card border p-1" style="width: 9rem; margin-right: 3px;">
                                <img src="~/Content/Layout/images/@item.product_image" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">@{float psale = (float)item.product_sale;}@psale.ToString("#,##0") ₫</h5>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script>
    $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 9
    });
</script>






