@using Website_GSshop.Models
@model GSMall
@{
    ViewBag.Title = "GSMallDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Data_GSShopEntities db = new Data_GSShopEntities();
}
@{
    List<Product> pr = db.Product.ToList();
}
<div class="container-fluid">
    <div class="pi-layout-container banner_img">
        <div class="banner_img2">
            <div class="banner_img3">
                <div class="banner_img4">
                    <div class="banner_img5" style=" background-image: url(&quot;https://vn-test-11.slatic.net/shop/697ac9e0d4b2febac9920c4760ba80df.jpeg_2200x2200q80.jpg_.webp&quot;);"></div>
                    <div class="banner_img6">
                        <div class="banner_img7" data-spm-anchor-id="a2o4n.10441748.0.i0.39a87547i4MWLR">
                            <div class="banner_img8">
                                <div class="banner_img9">
                                    <div class="banner_img10" data-spm-anchor-id="a2o4n.10441748.0.i3.39a87547i4MWLR">
                                        <div class="banner_img11">
                                            <img class="banner_img12" src="~/Content/Layout/images/@Model.gsmall_image" />
                                        </div>
                                        <div class="banner_img13">
                                            <div class="banner_img14">
                                                <h1 class="banner_name">@Model.gsmall_name Official Store</h1>
                                            </div>
                                            <div class="banner_img15">
                                                <img src="//laz-img-cdn.alicdn.com/tfs/TB15sa.Q8r0gK0jSZFnXXbRRXXa-407-48.png" source="[object Object]" alt="" placeholder="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" compresssuffix="Q75,Q50" defaultheight="750rem" style="height: 15px;">
                                                <span class="banner_img16">|</span>
                                                <div class="banner_img17">7121 Followers</div>
                                            </div>
                                            <div class="banner_img18">89% Positive Seller Ratings</div>
                                        </div>
                                        <div class="banner_img19">
                                            <a class="banner_img20">
                                                <p class="banner_img21">
                                                    <span class="banner_img22"><i class="fa fa-comments"></i></span>
                                                </p>
                                                <span class="banner_img23">Chat Now</span>
                                            </a>
                                            <a class="banner_img24">
                                                <p class="banner_img25">
                                                    <span class="banner_img26">+ </span><span class="banner_img27"><svg height="24" width="24" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472 472" style="enable-background:new 0 0 472 472;" xml:space="preserve"><g><g><g><path d="M403.992,336h-64v104h64V336z M387.992,424h-32v-72h32V424z" /><path d="M259.992,264h-192c-13.255,0-24,10.745-24,24v152h240V288C283.992,274.745,273.247,264,259.992,264z M267.992,424h-208V320h208V424z M267.992,304h-208v-16c0-4.418,3.582-8,8-8h192c4.418,0,8,3.582,8,8V304z" /><path d="M467.44,109.272c-0.08-0.224-0.16-0.44-0.256-0.656s-0.112-0.344-0.2-0.496l-38.992-70.192V8c0-4.418-3.582-8-8-8h-376c-4.418,0-8,3.582-8,8v30.304L4.68,108.752v0.072c0,0.088-0.048,0.192-0.088,0.28c-0.311,0.816-0.484,1.679-0.512,2.552c0,0.12-0.072,0.224-0.072,0.344v360h463.984V112c0-0.048,0-0.096,0-0.144C467.956,110.97,467.769,110.096,467.44,109.272zM446.392,104H353.76l-18.664-56h80.192L446.392,104z M339.992,120v80c0,17.673-14.327,32-32,32h-32c-17.673,0-32-14.327-32-32v-8v-72H339.992z M243.992,104V48h74.232l18.664,56H243.992z M51.992,16h360v16h-360V16z M135.096,104l18.664-56h74.232v56H135.096z M227.992,120v72c-0.026,22.08-17.92,39.974-40,40h-16c-22.08-0.026-39.974-17.92-40-40v-72H227.992z M49.192,48h87.696l-18.664,56h-93.92L49.192,48z M19.992,120h96v68.8c-0.026,23.848-19.352,43.174-43.2,43.2h-12.8c-22.08-0.026-39.974-17.92-40-40V120z M419.992,456h-96V320h96V456z M419.992,304h-96v-9.6c0-7.953,6.447-14.4,14.4-14.4h67.2c7.953,0,14.4,6.447,14.4,14.4V304z M451.992,456h-16V294.4c0-16.789-13.611-30.4-30.4-30.4h-67.2c-16.789,0-30.4,13.611-30.4,30.4V456h-288V231.112c10.506,10.8,24.933,16.892,40,16.888h12.8c20.647-0.022,39.787-10.811,50.496-28.464c9.921,17.569,28.527,28.443,48.704,28.464h16c18.5-0.014,35.8-9.164,46.224-24.448c8.496,15.088,24.46,24.43,41.776,24.448h32c17.316-0.018,33.28-9.36,41.776-24.448c10.424,15.284,27.724,24.434,46.224,24.448h16c15.067,0.004,29.494-6.088,40-16.888V456z M451.992,192c-0.026,22.08-17.92,39.974-40,40h-16c-22.08-0.026-39.974-17.92-40-40v-72h96V192z" /></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>
                                                </p>
                                                <span class="banner_img28">FOLLOW</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner_img29">
                            <div class="banner_img30">
                                <div class="banner_img31">
                                    <div aria-haspopup="true" aria-expanded="false" class="banner_img32">
                                        <span class="banner_img33">Categories</span>
                                        <span class="banner_img34"><i class="fa fa-angle-down"></i></span>
                                    </div>
                                    <div class="banner_img35">
                                        <div class="banner_img36">Homepage<div class="banner_img37"></div></div>
                                        <div class="banner_img38">All Products</div>
                                        <div class="banner_img39">
                                            <img height="35" source="[object Object]" placeholder="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" compresssuffix="Q75,Q50" defaultheight="750rem" src="https://gcp-img.slatic.net/lazada/id0088043-97-48.png#width=97&amp;height=48">
                                        </div>
                                        <div class="banner_img40">Profile</div>
                                    </div>
                                    <div class="banner_img41">
                                        <div class="banner_img42">
                                            <input placeholder="Search in store" class="banner_img43">
                                            <button type="button" role="button" class="banner_img44">
                                                <span class="banner_img45"><i class="fa fa-search"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner_img46">
                            <div class="banner_img50">
                                <div class="banner_img51">
                                    <canvas height="225" width="225" style="height: 150px; width: 150px;"></canvas>
                                </div>
                                <div class="banner_img52">
                                    <span class="banner-img52">Browse by Mobile</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner_img53"></div>
                    <div class="banner_img54"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4 mb-4">
        <div class="container-fluid" style="background-color: #f9f9f9">
            <div class="row">
                @foreach (var item in pr.Where(n => n.gsmail_id == Model.gsmall_id))
                {
                    <div class="col-md-2">
                        <div class="card-1">
                            <div class="text-center mt-2">
                                <img src="~/Content/Layout/images/@item.product_image" width="250" />
                            </div>
                            <a href="@Url.Action("ProductDetail","View", new {@id = item.product_id})" class="text-left text-dark"><h5 class="text-left mt-2">@item.product_name</h5></a>
                            <span class="text-success">@{float pricesale = (float)item.product_sale;} @pricesale.ToString("#,##0") ₫</span>
                            <br />
                            <s class="text-gray">@{float price = (float)item.product_price;} @price.ToString("#,##0") ₫</s>&nbsp;&nbsp;&nbsp;<small>-25%</small>
                            <div class="mt-1">
                                <div class="p-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <small class="text-dark">(6)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
        </div>
    </div>
</div>








