@model IEnumerable<Website_GSshop.Models.PayDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pay_money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pay_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pay_datecreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.user_pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill.bill_address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pay_money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pay_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pay_datecreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.user_pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bill.bill_address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pay_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.pay_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pay_id })
        </td>
    </tr>
}

</table>
